page-more {
  ion-card {
    text-align: center !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin: 5px !important;
    padding-bottom: 15px !important;
    width: auto !important;
  }
  ion-card img {
    display: block;
    width: 30%;
    height: 30%;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
