<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
        <ion-buttons end>
            <!-- <button ion-button icon-only tappable (click)="presentPopover($event)">
                <ion-icon name="md-more"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div>
        <ion-row style="padding-right: 5px; padding-left: 5px;">
            <ion-col>
                <ion-card style="padding-bottom: 15px;" tappable (click)="gomenu(1)">
                    <div style="font-size: 1.0em;color:#002060;">
                        <div align="center" style="width: 100%;">
                            <img src="assets/chatone.png">
                        </div>
                        <span class="{{showFont}}">{{textData[1]}}</span>
                    </div>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card style="padding-bottom: 15px;" tappable (click)="gomenu(2)">
                    <div style="font-size: 1.0em; color: #002060;">
                        <div align="center" style="width: 100%;">
                            <img src="assets/camera.png">
                        </div>
                        <span class="{{showFont}}">{{textData[2]}}</span>
                    </div>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card style="padding-bottom: 15px;" tappable (click)="gomenu(3)">
                    <div style="font-size: 1.0em;color:#002060;">
                        <div align="center" style="width: 100%;">
                            <img src="assets/qrone.png">
                        </div>
                        <span class="{{showFont}}">{{textData[3]}}</span>
                    </div>
                </ion-card>
            </ion-col>


        </ion-row>

        <ion-row style="padding-right: 5px; padding-left: 5px;">
            <ion-col>
                <ion-card style="padding-bottom: 15px;" tappable (click)="gomenu(4)">
                    <div style="font-size: 1.0em;color:#002060;">
                        <div align="center" style="width: 100%;">
                            <img src="assets/mapone.png">
                        </div>
                        <span class="{{showFont}}">{{textData[4]}}</span>
                    </div>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card style="padding-bottom: 15px;" tappable (click)="gomenu(5)">
                    <div style="font-size: 1.0em;color:#002060;">
                        <div align="center" style="width: 100%;">
                            <img src="assets/pic.png">
                        </div>
                        <span class="{{showFont}}">{{textData[5]}}</span>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card style="padding-bottom: 15px;" tappable (click)="gomenu(6)">
                    <div style="font-size: 1.0em;color:#002060;">
                        <div align="center" style="width: 100%;">
                            <img src="assets/tran-his.png">
                        </div>
                        <span class="{{showFont}}">{{textData[6]}}</span>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <!-- <ion-row style="padding-right: 5px; padding-left: 5px;">
      <ion-col>
        <ion-card style="padding: 25px 60px;">
          <div style="font-size: 0.8em;color:white;background-color: #832b33;border-radius: 10px;">
            <div align="center" style="padding: 10px;">
              <span class="{{showFont}}">Under Development and Testing only</span>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row> -->
    </div>
</ion-content>