<ion-header>

  <ion-navbar color="b2b">
    <ion-title id="custom_ion_title"><span class="uni">{{textData[0]}}</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="nores == 1" >
    <ion-item *ngFor="let cmt of replyData;let j = index" no-lines (press)="presentPopover($event,cmt)">

      <div style="float: left;">
        <img item-left src="{{photoLink}}/{{cmt.t10}}" style="width:45px;height: 45px;border-radius: 50%;object-fit:cover;" onError="this.src = 'assets/images/user-icon.png'">
      </div>
      <div style="float: left;width:84%;">
      <h4 style="font-weight: bold;margin-top: 15px;" class="uni" *ngIf="cmt.userName">{{cmt.userName}}</h4>
       <h4 style="font-weight: bold;margin-top: 15px;" class="uni" *ngIf="cmt.userName==''">B2B User</h4>
      <p text-wrap style="color: #000000;line-height: 10px;padding-top:3px;font-size:1.3rem;" class="uni">{{cmt.t2}}</p>

      <p style="font-size:1.2rem;">
        <span *ngIf="cmt.differenceTime == ' W'" style="color: #b1a7a7;">{{ cmt.modifiedDate}} </span>
        <span *ngIf="cmt.differenceTime != ' W'" style="color: #b1a7a7;">{{cmt.differenceTime}}</span>
          &nbsp;<span style="font-size:17px;color: #b1a7a7;line-height: 10px;">.</span>&nbsp;
          <!--<span tappable (click)="changeLike(cmt.syskey,j)" *ngIf="cmt.like" style="color: #0474bc;">Like</span>-->
          <span  tappable (click)="changeLike(cmt.syskey,j)" style="color: #0474bc;">{{cmt.like}}</span>
          <span *ngIf="cmt.likeCount > 0" tappable (click)="likePerson(cmt.person)" style="color:#0474bc;">&nbsp;<span style="font-size:17px;color: #0474bc;line-height: 10px;">.</span>&nbsp;<ion-icon name="ios-thumbs-up" *ngIf="cmt.likeCount > 0"></ion-icon>&nbsp;&nbsp;{{cmt.likeCount}}</span>
        &nbsp;<span style="font-size:17px;color: #0474bc;line-height: 10px;">.</span>&nbsp;
        <span  tappable (click)="ClickReply(cmt.syskey)" style="color: #0474bc;">Reply</span>
      </p>

        <p *ngIf="cmt.replyCount > 0" style="font-weight: bold;" tappable (click)="ClickReply(cmt.syskey)">View more {{cmt.replyCount}}&nbsp; {{cmt.textreply}} </p>
        <div tappable (click)="ClickReply(cmt.syskey)" *ngIf="cmt.replyComment.length > 0">
          <div style="float:left;padding-right: 3px;">
            <img src="{{photoLink}}/{{cmt.replyComment[0].person[0].t16}}" style="width:23px;height: 23px;border-radius: 50%;object-fit:cover;" onError="this.src = 'assets/images/user-icon.png'">
          </div>
          <div style="float:left;width: 84%;margin-top:5px;">
            <p>
              <span style="font-size:1.3rem;font-weight: bold;color: #000000;" class="uni" *ngIf="cmt.replyComment[0].person[0].t2">{{cmt.replyComment[0].person[0].t2}}</span >
              <span style="font-size:1.3rem;font-weight: bold;color: #000000;" class="uni" *ngIf="cmt.replyComment[0].person[0].t2 == ''">B2B User</span >&nbsp;
              <span  class="uni" style="color: #000000;font-size:1.2rem;">{{cmt.replyComment[0].t2}}</span>
            </p>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
      <div *ngIf="status">
        <ion-row>
          <ion-col col-3>
            <div style="color:#808080;" align="right">Sending</div>
          </ion-col>
          <ion-col>
            <ion-spinner name="dots"></ion-spinner>
          </ion-col>
        </ion-row>
      </div>

  <div *ngIf="nores == 0" align="center">
    <h3 style="padding:50px;color:#ccc;"> <span class="uni">{{textData[1]}}</span></h3>
  </div>
</ion-content>
<ion-footer no-border>
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col col-10>
        <ion-textarea
                      class="{{inputFont}}"
                      placeholder="{{textData[2]}}..."
                      [(ngModel)]="comment"
                      (focus)="onFocus()">
        </ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only item-right tappable (click)="saveComment()">
          <ion-icon name="ios-send" ios="ios-send" md="md-send" style="color: #EB6640;"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
