<ion-header>
  <ion-navbar> 
      <!--<ion-buttons left >
       <button ion-button icon-only tappable (click)="goBack()">
           <ion-icon name="md-arrow-back"></ion-icon>
       </button>
     </ion-buttons>-->       
    <ion-title id="custom_ion_title" class="uni">{{textdata[0]}}</ion-title>
  </ion-navbar> 
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="white-space: inherit;background: #f53d3d;padding: 20px;">
      <div align="center">
        <span class="uni" style="color: #fff;">{{error}} </span>
      </div>
    </ion-card-header>
    <ion-item text-wrap>
      <p>
        <span class="uni">{{textdata[2]}}</span>
      </p>
      <h2 style="font-weight:bold;color:#000;">{{sender}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p>
        <span class="uni">{{textdata[3]}}</span>
      </p>
      <h2 style="font-weight:bold;color:#000;">{{receiver}}</h2>
    </ion-item>
    <hr>
    <div class="uni" align="center" style="padding-top: 20px; padding-bottom: 30px;">
      <button style="font-size: 1em;width:130px;" color="mwalletbtn" ion-button tappable (click)="goBackTransaction()">{{textdata[4] }}</button>
    </div>
  </ion-card>
</ion-content>

