<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title id="custom_ion_title" class="uni">{{textdata[12]}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only tappable (click)="presentPopover($event)" color="mwallet">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-buttons>
        <!--<img src="./assets/noti.png" style="width: 8%;margin-left: 85%;" />-->
    </ion-navbar>
</ion-header>

<ion-content padding scroll="false">
    <div align="center" style="padding-top: 2%">
            <img src="assets/dc-logo-home.png" id="resize" />
        <p>
            <span class="uni" style="font-weight: bold; color:#434eb2;">{{textdata[16]}}</span>
        </p>
    </div>
    <div style="margin-top: 5%;">
        <ion-grid>
            <ion-row class="box" align-items-center>
                <ion-col col-2 style="text-align:center;">
                    <ion-icon name="md-phone-portrait" style="font-size:20px;" item-left color="mwallet">
                    </ion-icon>
                </ion-col>
                <ion-col col-9>
                    <ion-input cursor type="tel" class="uni" placeholder="{{textdata[0]}}" [(ngModel)]="userPhone" (keyup)="onChange(userPhone,1)">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="box" align-items-center>
                <ion-col col-2 style="text-align:center;">
                    <ion-icon name="md-key" style="font-size:20px;" item-left color="mwallet">
                    </ion-icon>
                </ion-col>
                <ion-col col-7>
                    <ion-input #otpCode cursor type="number" class="uni" placeholder="{{textdata[14]}}" [(ngModel)]="otp" maxlength="6" (keyup)="onChange(otp,2)">
                    </ion-input>
                </ion-col>
                <ion-col col-3>
                    <a href="#0" (click)="getLoginOTP()">
                        <span class="uni" style="color:#434eb2;">{{textdata[15]}}</span>
                    </a>
                </ion-col>
            </ion-row>
            <!-- <div align="center" style="margin-top:2%;">
                <button mode="md" ion-button tappable (click)="loginV2()" style="border-radius: 5px;" color="mwallet" full [disabled]="disableBtn">
                    <span class="uni">{{textdata[17]}}</span>
                </button>
            </div> -->
            <ion-row>
                <ion-col col-9>
                    <button mode="md" ion-button tappable (click)="loginV2()" style="border-radius: 5px;" color="mwallet" full
                        [disabled]="disableBtn">
                        <span class="uni">{{textdata[17]}}</span>
                    </button>
                </ion-col>
                <!-- <ion-col col-1></ion-col> -->
                <ion-col col-3>
                    <button ion-button icon-only tappable (click)="fingerPrint()" color="mwallet">
                        <ion-icon name="md-finger-print"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div style="color: red; padding-bottom: 3%" align="center">{{errormsg}}</div>
</ion-content>