<ion-header>
  <ion-navbar>
    <!--   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#ebf5f3;">
  <ion-card>
    <ion-row style="padding-left: 15px; padding-right: 15px;">
      <ion-col>
        <ion-list>
          <ion-item style="border-bottom: 1px solid gray !important;">
            <ion-label floating>
              <span class="uni">{{textData[3]}}</span>
            </ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="phone" (keyup)="onChange($event,_obj.beneficiaryID)"
              class="{{keyboardfont}}" readonly="true"></ion-input>

          </ion-item>
          <div *ngIf="errormsg2!=''" align="center" style="color: red;">{{errormsg2}}</div>

          <ion-item style="border-bottom: 1px solid gray !important;">
            <ion-label floating>
              <span class="uni">{{textData[1]}}</span>
            </ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="_obj.toName" class="{{keyboardfont}}" readonly="true">
            </ion-input>
          </ion-item>

          <ion-item style="border-bottom: 1px solid gray !important;">
            <ion-grid no-padding item-content>
              <ion-row>
                <ion-col col-10>
                  <ion-label floating><span class="uni">{{textData[5]}}</span></ion-label>
                  <ion-input type="tel" pattern="[0-9]*" class="{{keyboardfont}}" onDrop="return false"
                    onPaste="return false" autocomplete=off [(ngModel)]="_obj.amount" *ngIf="amtflag" readonly="true">
                  </ion-input>
                  <ion-input type="tel" pattern="[0-9]*" class="{{keyboardfont}}" onDrop="return false"
                    onPaste="return false" autocomplete=off [(ngModel)]="_obj.amount" *ngIf="!amtflag"></ion-input>
                </ion-col>
                <ion-col col-2>
                  <ion-label floating><span class="uni">&nbsp;</span></ion-label>
                  <ion-input placeholder="MMK" readonly="true"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <div *ngIf="errormsg1!=''" align="center" style="color: red;">{{errormsg1}}</div>

          <ion-item style="border-bottom: 1px solid gray !important;">
            <ion-label floating>
              <span class="uni">{{textData[14]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_obj.remark" class="uni" *ngIf="remarkflag" readonly="true"></ion-input>
            <ion-input type="text" [(ngModel)]="_obj.remark" class="uni" *ngIf="!remarkflag"></ion-input>
          </ion-item>

          <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
            <button class="btn-size" style="font-size: 1em;" color="mwalletbtn" ion-button tappable (click)="goNext()"
              [disabled]="this.btnflag">{{textData[10]}}</button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>