  <ion-header>
    <ion-navbar style="text-align: center;" >
        <ion-title id="custom_ion_title"  class="uni">{{showFont[0]}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md">
    <ion-list>
        <ion-row>
            <ion-col col-10>
                <ion-item class="uni">
                    <ion-input class="selectable" placeholder={{placeHolderText}} type="text" [(ngModel)]="copyText" (ngModelChange)="inputChange()"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-2>
                <ion-buttons right>
                    <button mode="md" ion-button round icon-only tappable (click)="scanQR()" color="mwalletbtn">
                        <ion-icon name="qr-scanner" *ngIf="!validText"></ion-icon>
                        <ion-icon name="checkbox-outline"  *ngIf="validText"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
        <div align="center" id="div-error-style" style="color: red;"class="uni">
            {{requireScan}}
        </div>
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[2]}}</span>
            </ion-label>
            <ion-input readonly=true type="text" [(ngModel)]="city.refNo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[3]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="city.billId"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[4]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true class="input-height uni" [(ngModel)]="city.cusName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[6]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true class="input-height uni" [(ngModel)]="city.deptName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[5]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="billAmount"></ion-input>
        </ion-item>
        <ion-item *ngIf="penaltyAmount != '0.0'">
            <ion-label floating>
                <span class="uni">{{showFont[9]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="penaltyAmount"></ion-input>
        </ion-item>
        <ion-item *ngIf="comAmount != '0.0'">
            <ion-label floating>
                <span class="uni">{{showFont[13]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="comAmount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[14]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="totalAmount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[7]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true class="input-height uni" [(ngModel)]="city.taxDesc"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[8]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="city.dueDate"></ion-input>
        </ion-item>
        <ion-item *ngIf="city.belatedDays">
            <ion-label floating>
                <span class="uni">{{showFont[16]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="city.belatedDays"></ion-input>
        </ion-item>
        <ion-item hidden>
            <ion-label floating>
                <span class="uni">Additional Info 1</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="city.t1"></ion-input>
        </ion-item>
        <ion-item hidden>
            <ion-label floating>
                <span class="uni">Additional Info 2</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="city.t2"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[10]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="city.narrative"></ion-input>
        </ion-item>

        <!-- <ion-col class="uni">
            <button mode="md" ion-button block type="submit" tappable (click)="validation()" color="mwalletbtn">
                {{showFont[12]}}
            </button>
        </ion-col> -->
    </ion-list>
</ion-content>

<ion-footer style="padding:10px 10px 10px;">
    <ion-col class="uni">
        <button mode="md" ion-button block type="submit" tappable (click)="validation()" color="mwalletbtn">
            {{showFont[12]}}
        </button>
    </ion-col>
</ion-footer>
