page-tabs {
    // .tabs-md,
    // .tabs-ios .tab-button[aria-selected=true] {
    //     color: red;
    // }
    // .ion-ios-contacts:before {
    //     color: red;
    // }
    // .ion-ios-chatbubbles:before {
    //     color: red;
    // }
    // .ion-ios-more:before {
    //     color: red;
    // }
    // .ion-ios-book:before {
    //     color: red;
    // }
    // .ion-ios-cash:before {
    //     color: red;
    // }
    // .tabs-md,
    // .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    //     color: red;
    // }
    
    
    .tab-button-icon {
        font-size: 3rem !important;
        margin-top: 5px !important;
        min-width: 2rem !important;
    }
    // .tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
    //     font-weight: bold !important;
    // }
    .tabbar {
        background: #434eb2 !important;
        //height: 7% !important;atn
    }
    .tabbar a[aria-selected=true] {
        border-top: 1px;
        border-style: solid;
        background-color:#5d69d4;
        //border-color:red;    
       
    }
   
    .tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
        margin-top: 0px !important;
        margin-bottom: 0;
    }
    .tabs-md .tab-button-text {
        font-size: 1.1rem !important;
        text-transform: none;
        transform-origin: 50% 80%;
        transition: transform 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
        margin: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .tabs-md .tab-button {
        min-height: 4.6rem;
        color:white;
    }
    .ion-md-cash {
        // ios = ios
        content: url("../assets/tabs/wallet-home.png") !important;
        font-size: 0.1rem !important;
        width: 20%;
        color:blue;
       
        //height: 0%;
    }
    .ion-md-chatbubbles  {
        // android = md
        content: url("../assets/tabs/message.png") !important;
        font-size: 0.1rem !important;
        width: 20%;
        color:blue;
        // height:0%;
    }
    // .ion-md-contacts .tab-button[aria-selected=true]{
    //     content: url("../assets/tabs/contact.png") !important;
    //     font-size: 0.1rem !important;
    //     width: 20%;
    //     color:blue;
      
    // }
    .ion-md-contacts {
        content: url("../assets/tabs/contact.png") !important;
        font-size: 0.1rem !important;
        width: 20%;
        // color: white !important;
    }

    .ion-md-book{
        content: url("../assets/tabs/news.png") !important;
        font-size: 0.1rem !important;
        width: 20%;
        color:blue;
        // height:0%;
    }
    .tab-button-text {
        color: white;
    }
      
  
}