<ion-tabs  class="uni">
  <ion-tab *ngFor="let tab of tabs" [root]="tab.root" [tabTitle]="tab.title" 
   [tabIcon]="tab.icon" tappable color="mwalletbtn" ></ion-tab>
 </ion-tabs>


 <!-- (click)="addEvent();" [ngStyle]="{'background-color': buttonColor}" -->
 <!-- color="mwalletbtn"  -->