<ion-header>

  <ion-navbar style="text-align: center;" color="shwe">
    <ion-title>
      <span class="uni">{{textData[5]}}</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable (click)="getlogout()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div align="center" style="padding:20px 16px 16px;">
    <h5>
      <span class="uni">{{textData[0]}}</span>
    </h5>
  </div>
  <ion-card>
    <ion-item text-wrap>
      <p class="uni">{{textData[1]}}</p>
      <h2 style="font-weight:bold;color:#000;">{{passtemp.lastTimeLogin}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{textData[2]}}</p>
      <h2 style="font-weight:bold;color:#000;">{{passtemp.lastTimeLogout}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{textData[3]}}</p>
      <h2 style="font-weight:bold;color:#000;">{{passtemp.duration}}</h2>
    </ion-item>
  </ion-card>
  <ion-item-group *ngIf="passtemp.activityList.length>0">
    <ion-item-divider color="light">
      <span class="uni">{{textData[4]}}</span>
    </ion-item-divider>
    <ion-item *ngFor="let a of passtemp.activityList">
      {{a.activity}}
    </ion-item>
  </ion-item-group>
</ion-content>
