<!--
  Generated template for the PasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textdata[0]}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="vertical-align-content">
  <div style="align-items:center !important;margin-top:60%;box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.14)">
    <ion-list style=" justify-content: center;display: flex!important;align-items: center!important;">
      <ion-item style="padding:10% 10% 0% 10%;margin-bottom:30px" align="center">
        <ion-label floating>
          <span class="uni">{{textdata[2]}}</span>
        </ion-label>
        <ion-input type="password" [(ngModel)]="password" class="uni"></ion-input>
      </ion-item>
      <div class="uni" align="center" style="padding-right:4%">
        <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable
          (click)="getconfirm()">{{textdata[3]}}</button>
      </div>
    </ion-list>
  </div>
  <div>
  </div>
</ion-content>