<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar placeholder="Search" style="width: 85%; float: left; padding: 8px;" (ionInput)="getAccounts($event)">
    </ion-searchbar>
    <img style="width: 11%; margin: 13px 0px 0px 8px;" tappable (click)="addAccount()" tappable src="./assets/add-person.png" />
  </ion-toolbar>

  <ion-list *ngFor="let account of accountList">
    <ion-card style="padding: 20px 20px" tappable tappable (click)="accountInfo(account)">
      <ion-row>
        <ion-col>
          <p class="text-font">{{textData[1]}}</p>
          <h3 class="text-font">
            <b>{{account.accNumber}}</b>
          </h3>
          <br>
          <p class="text-font">{{textData[2]}}</p>
          <h3 class="text-font">
            <b>{{account.accountType}}</b>
          </h3>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
