<ion-header>
  <ion-navbar>  
    <ion-title>{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card style="padding: 20px 20px">
    <ion-row>
      <ion-col>
        <p class="text-font">{{textData[1]}}</p>
        <h3 class="text-font">
          <b>{{serialNo}}</b>
        </h3>
        <br>
        <p class="text-font">{{textData[2]}}</p>
        <h3 class="text-font">
          <b>{{accNumber}}</b>
        </h3>
        <br>
        <p class="text-font">{{textData[3]}}</p>
        <h3 class="text-font">
          <b>{{accountType}}</b>
        </h3>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
