page-videodetail {

  $background: #3498db;
  $activeColor: #27ae60;
  $darkenColor: darken($activeColor, 20%);
  .video-container {
    position: relative;
    padding-top: 0px; height: 0; overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .back-button-icon-md{
    color:white;
  }
  .resize {
    height: 200px;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    display: inline-block;
    margin-right: auto;
    object-fit: cover;
    // margin-top: 10px;
  }
  .block-with-text{
    max-height: 8em;
  }
  .squaredOne {
    width: 20px;
    position: relative;
    margin: 20px auto;
    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(top, #222 0%, #45484d 100%);
      border-radius: 4px;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
      &:after {
        content: '';
        width: 9px;
        height: 5px;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 3px solid #fcfff4;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
      &:hover::after {
        opacity: 0.3;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }
  }

  .squaredTwo {
    width: 20px;
    position: relative;
    margin: 20px auto;
    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(top, #222 0%, #45484d 100%);
      border-radius: 4px;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
      &:after {
        content: '';
        width: 9px;
        height: 5px;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 3px solid #fcfff4;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
      &:hover::after {
        opacity: 0.3;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }
  }

  .squaredThree {
    width: 20px;
    position: relative;
    margin: 20px auto;
    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(top, #222 0%, #45484d 100%);
      border-radius: 4px;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
      &:after {
        content: '';
        width: 9px;
        height: 5px;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 3px solid #fcfff4;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
      &:hover::after {
        opacity: 0.3;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }
  }

  .squaredFour {
    width: 20px;
    position: relative;
    margin: 20px auto;
    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(top, #222 0%, #45484d 100%);
      border-radius: 4px;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
      &:after {
        content: '';
        width: 9px;
        height: 5px;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 3px solid #fcfff4;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
      &:hover::after {
        opacity: 0.3;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }
  }



  *{box-sizing: border-box;}
  body {
    background: $background;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    h1, h2, em {
      color: #eee;
      font-size: 30px;
      text-align: center;
      margin: 20px 0 0 0;
      -webkit-font-smoothing: antialiased;
      text-shadow: 0px 1px #000;
    }
    em{
      font-size: 14px;
      text-align: center;
      display: block;
      margin-bottom: 50px;
    }
    .ondisplay{
      text-align:center;
      padding:20px 0;
      section{
        width:100px;
        height:100px;
        background: #555;
        display:inline-block;
        position: relative;
        text-align: center;
        margin-top:5px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow:
        0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
        &:after{
          /*         visibility: hidden; */
          content:attr(title);
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 3px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          -webkit-font-smoothing: antialiased;
          text-shadow: 0px 1px #000;
        }
      }
    }
  }

  .label-md {
    margin: 13px 6px 10px 0 !important;
    font-family: Unicode;
  }

  .back-button.show-back-button {
    padding-left: 0px;
  }

  .scroll-content {
    padding-top: 46px !important;
    padding-bottom: 45px;
  }

  ion-card {
    display: contents;
  }

}
