page-single-view {
  /*$userBackgroundColor: #75a3a3;
  $toUserBackgroundColor: #81c784;

  ion-content .scroll-content {
    background-color: #f5f5f5;
  }*/

  .resize {
    height: 170px;
    width: 100%;
    max-width: 100%;
    max-height: 170px;
    display: inline-block;
    margin-right: auto;
    object-fit: cover;
    // margin-top: 10px;
  }
  .resizegrid {
    height: 140px;
    width: 100%;
    max-width: 100%;
    max-height: 140px;
    display: inline-block;
    margin-right: auto;
    object-fit: cover;
    // margin-top: 10px;
  }

  .video-container {
    position: relative;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 5px;
  }
  .play, .pause{
    background:rgba(0,0,0,0.7);
    border:0px;
    color:#fff;
    border-radius: 100%;
    height:40px;
    width:40px;
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    //height: 255px;
  }

  .line-breaker {
    white-space: pre-line;
    width: 120px;
  }

  .input-wrap {
    padding: 0 5px;
    ion-textarea {
      position: static;

    }
    ion-col.col {
      padding: 0;
    }
    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }
    textarea {
      border-bottom: 1px #f47957;
      border-style: solid;
    }
  }

  .label-md {
    margin: 5px 8px 5px 0;
  }
  .label-ios{
    margin: 8px 8px 8px 0;
  }

  .singleContent{
    .card-md {
      //border-bottom: 1px lightgray solid;
      border-radius: 2px;
      font-size: 1.4rem;
      background: #fff;
      -webkit-box-shadow: 0;
      box-shadow: 0 !important;
    }
  }

  .card-content-md {
    padding: 5px 16px;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .card-md p {
    margin: 4px 0 2px;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
  }

  .positioner {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .icscon {
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 32px;
    height: 32px;
  }
  .icscon1 {
    position: absolute;
    right: -38px;
    bottom: -15px;
    width: 32px;
    height: 32px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }
  ion-input, ion-textarea {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    border: 1px solid rgba(13, 45, 55, 0.16);
    border-radius: 50px;
  }
  .text-input-md {
    margin: 8px 15px;
    padding: 0;
    width: calc(100% - 8px - 8px);
  }
  .text-input-ios {
    margin: 8px 15px;
    padding: 0;
    width: calc(100% - 8px - 8px);
  }
}
