page-sugvideo {
  .video-container {
    position: relative;
    padding-top: 0px; height: 0; overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .back-button-icon-md{
    color:white;
  }
  .label-md {
    margin: 13px 6px 10px 0 !important;
    font-family: Unicode;
  }
  .back-button.show-back-button {
    padding-left: 0px;
  }
  ion-card {
    display: contents;
  }
  ion-slides {
    display: block;
    width: 100%;
    height: 100%;
  }
  .scroll-content {
    padding-top: 46px !important;
    padding-bottom: 45px;
  }
  .card-md p {
    margin: 0 0 0px !important;
  }
  .block-with-text{
    max-height: 8em;
  }
}
