<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>

    <ion-buttons end>
      <button style="text-transform: none; width: 60px; border-color: white; color: white; background-color: transparent;" ion-button
        outline round tappable (click)="sendPicture(imageDetail_MydocsDetailChannel)">
        <span style="font-size: 1.7rem;" class="{{showFont}}">Send</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card tappable>
    <ion-row align-items-center>
      <ion-col col-12>
        <ion-textarea #chat_input placeholder="{{textData[1]}}" [(ngModel)]="description_MydocsDetailChannel.description" (focus)="onFocus()"
          rows="3" class="{{keyboardfont}}">
        </ion-textarea>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row>
      <ion-col col-2 style="display: flex;justify-content: center;">
        <ion-icon ios="ios-calendar" md="md-calendar" class="icon_size"></ion-icon>
      </ion-col>
      <ion-col>
        <span class="text_align" class="{{showFont}}">{{createDate}}</span>
      </ion-col>
    </ion-row>
    <hr>

    <div align-items-center tappable (click)="saveGallery(imageDetail_MydocsDetailChannel)">
      <!-- tappable (click)='showPhoto(imageData)' -->
      <img src={{imageDetail_MydocsDetailChannel.PhotoPath}}/>
    </div>
    <hr>

    <ion-row tappable (click)='addMarker()'>
      <ion-col col-2 style="display: flex;justify-content: center;">
        <ion-icon name="ios-pin-outline" class="icon_size"></ion-icon>
      </ion-col>
      <ion-col>
        <span class="{{showFont}}">{{imageDetail_MydocsDetailChannel.location}}</span>
        <br/>
        <br/>
        <span style="padding-top: 8px;" class="{{showFont}}">
          <a>{{imageDetail_MydocsDetailChannel.latitude}}/{{imageDetail_MydocsDetailChannel.longitude}}</a>
        </span>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card id="map"></ion-card>
</ion-content>