<ion-header>
    <ion-navbar>
        <ion-title *ngIf="isgroup != 1" id="custom_ion_title">{{passData.name || passData.t2}}</ion-title>

        <ion-title *ngIf="isgroup == 1" id="group_title_one" class="{{showFont}}">{{passData.name || passData.t2}}</ion-title>
        <ion-title *ngIf="isgroup == 1" id="group_title_two">
            <span class="{{showFont}}" style="font-size: 1.3rem">{{groupnames}}</span>
        </ion-title>

        <ion-buttons end>
            <button *ngIf="isgroup != 1" ion-button icon-only tappable (click)="info()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
            <!-- <button *ngIf="isgroup != 1" ion-button icon-only tappable (click)="presentPopoverOne($event)">
                <ion-icon name="md-more"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="selectable" style="background-color: #ebeff6;">
    <div style="padding-top: 5px;" *ngIf="isLoading">
        <div align="center">
            <ion-spinner name="circles"></ion-spinner>
        </div>
    </div>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

    <h3 *ngIf="nores == 0" style="padding: 50px; color: #ccc; font-size: 1.9rem;" align="center">
        <span class="{{showFont}}">{{textData[1]}}</span>
    </h3>

    <div class="message-wrap" *ngIf="nores == 1">
        <div *ngFor="let m of msgList; let j = index;">
            <div style="display: flex; justify-content: center;" *ngIf="m.t7">
                <p class="my-overlay" class="{{showFont}}" text-wrap>{{m.t7}}</p>
            </div>

            <div *ngFor="let msg of m.data | orderBy: 'syskey'; let z = index;" class="message" [class.left]="msg.t5 != hautosys" [class.right]="msg.t5 == hautosys">
                <div class="msg-detail">
                    <ion-row *ngIf="msg.t5 != hautosys">
                        <ion-col col-2>
                            <text-avatar style="float: right; margin-top: 0px; margin-right: 2px;" [text]="msg.t10" *ngIf="passData.t16 != 'admin' && (msg.t18 == '')"></text-avatar>
                            <ion-avatar *ngIf="msg.t18 != ''">
                                <img src="{{profileImageLink}}{{msg.t18}}" onError="this.src = 'assets/images/user-icon.png'">
                            </ion-avatar>
                            <ion-avatar *ngIf="passData.t16 == 'admin' && (msg.t18 == '')">
                                <img src="assets/channelAdmin.png">
                            </ion-avatar>
                        </ion-col>
                        <ion-col col-10>
                            <div class="msg-content" (press)="onPress($event,msg,j,z)">
                                <span class="triangle"></span>
                                <div *ngIf="passData.t16!='admin'" align="center">
                                    <img class="msg-image" src="{{imageLink}}{{msg.t3}}" alt="" tappable (click)="viewImage(msg.t3)" *ngIf="msg.t3">
                                </div>
                                <div *ngIf="msg.t20=='1' && passData.t16=='admin'" align="center">
                                    <qr-code [value]="'ticketNumber: '+msg.t2" [size]="150"></qr-code>
                                </div>
                                <p class="line-breaker" text-wrap *ngIf="msg.t2">
                                    <span class="{{showFont}}" *ngIf="msg.t20=='1' && passData.t16=='admin'">Ticket Number : </span>
                                    <span class="{{showFont}}" *ngIf="!url(msg.t2)">{{msg.t2}}</span>
                                    <a href="{{msg.t2}}" *ngIf="url(msg.t2)" class="{{showFont}}">{{msg.t2}}</a>
                                </p>
                                <p class="msg-info">
                                    <ion-row>
                                        <ion-col col-9 style="text-align: left; padding: 0px; padding-top: 5px;">
                                            <ion-icon name="ios-star" *ngIf=" msg.t5 == 'R0001'" style="color:#434eb2;"></ion-icon>
                                            <span class="{{showFont}}"></span>
                                        </ion-col>
                                        <ion-col col-3 style="text-align: right; padding-top: 5px;" class="{{showFont}}">
                                            {{msg.t8}}
                                        </ion-col>
                                    </ion-row>
                                </p>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="msg.t5 == hautosys">
                        <ion-col col-10>
                            <div class="msg-content" (press)="onPress($event,msg,j,z)">
                                <span class="triangle"></span>
                                <!-- <p style="color:#b34700;padding-bottom:5px;font-size:1.2rem;">{{msg.t10}}</p> -->
                                <p class="line-breaker" text-wrap style="font-size: 0.8rem;" *ngIf="passData.t16 == 'admin'">
                                    <span class="{{showFont}}">{{msg.t17}}</span>
                                    <span class="{{showFont}}">{{msg.t19}}</span>
                                </p>
                                <!-- onError="this.src = 'assets/images/imgErr.png'" -->
                                <div align="center">
                                    <img class="msg-image" src="{{imageLink}}{{msg.t3}}" alt="" tappable (click)="viewImage(msg.t3)" *ngIf="msg.t3">
                                </div>
                                <p class="line-breaker" text-wrap style="font-size: 0.8rem; padding-top: 9px;" tappable (click)="goGoogleMap(msg.t16)" *ngIf="msg.t16 && passData.t16 == 'admin'">
                                    <span class="{{showFont}}" style="color: #434eb2">{{msg.t16}}</span>
                                </p>
                                <p class="line-breaker" text-wrap *ngIf="msg.t2">
                                    <span class="{{showFont}}" *ngIf="!url(msg.t2)">{{msg.t2}}</span>
                                    <a href="{{msg.t2}}" *ngIf="url(msg.t2)" class="{{showFont}}" style="color: #f4f4f4">{{msg.t2}}</a>
                                </p>
                                <p class="msg-info">
                                    <ion-row>
                                        <ion-col col-9 style="text-align: left; padding: 0px; padding-top: 5px;">
                                            <ion-icon name="ios-star" *ngIf=" msg.t5 == 'R0001'" style="color:#434eb2;"></ion-icon>
                                            <span class="{{showFont}}"></span>
                                        </ion-col>
                                        <ion-col col-3 style="text-align: right; padding-top:5px;" class="{{showFont}}">
                                            {{msg.t8}}
                                        </ion-col>

                                    </ion-row>
                                </p>
                            </div>
                        </ion-col>
                        <ion-col col-2>
                            <text-avatar [text]="msg.t10" *ngIf="msg.t18 == ''"></text-avatar>
                            <ion-avatar *ngIf="msg.t18 != ''">
                                <img src="{{profileImageLink}}{{msg.t18}}" onError="this.src = 'assets/images/user-icon.png'">
                            </ion-avatar>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
        <div *ngIf="status">
            <ion-row>
                <ion-col col-3>
                    <div style="color:#808080;" align="right">Sending</div>
                </ion-col>
                <ion-col>
                    <ion-spinner name="dots"></ion-spinner>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>
<ion-footer no-border>
    <ion-grid class="input-wrap">
        <ion-row align-items-center>
            <ion-col col-1>
                <button ion-button clear icon-only item-right tappable (click)="getMenu($event)">
          <ion-icon name="md-add" style="color: #434eb2; padding: 0;"></ion-icon>
        </button>
            </ion-col>
            <ion-col col-10>
                <ion-textarea style="font-size: small;" #chat_input autocomplete="true" spellcheck="true" placeholder="{{textData[0]}}" [(ngModel)]="postMsg" (focus)="onFocus()" rows="2" class="{{keyboardfont}}">
                </ion-textarea>
            </ion-col>
            <ion-col col-1>
                <button ion-button clear icon-only item-right tappable (click)="sendMsg()">
          <ion-icon name="md-send" style="color: #434eb2; padding: 0;"></ion-icon>
        </button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="clickopenMenu == true">
        <ion-row style="margin-top: 40px;">
            <ion-col col-1 style="margin-top: -55px ; margin-left: 7%;">
                <ion-fab>
                    <button ion-fab mini color="chat" tappable (click)="goCameraUI()">
            <ion-icon name="ios-camera-outline" style="font-size: 2.2em; background-color: #434eb2 !important;"></ion-icon>
          </button>
                    <img [src]="imageURL" *ngIf="imageURL" />
                </ion-fab>
            </ion-col>
            <ion-col col-1 style="margin-top: -55px; margin-left: 5%;">
                <ion-fab class="ion-image">
                    <button ion-fab mini color="chat" tappable (click)="goGalleryUI()">
            <ion-icon name="md-images" style="font-size: 2.2em; background-color: #434eb2 !important;"></ion-icon>
          </button>
                </ion-fab>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>