<ion-header>
  <ion-navbar style="text-align: center;" >
      <ion-title id="custom_ion_title"  class="uni">{{textData[0]}}</ion-title>
      <ion-buttons end >                                    
          <button  ion-button icon-only tappable (click)="addInfo()">                
              <ion-icon name="list-box" style="font-size: 35px;"></ion-icon>
          </button>
      </ion-buttons>      
  </ion-navbar>
</ion-header>

<ion-content mode="md" style="background-color:#F5F5F5;">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>

  <div class="mycard">
    <!-- card no -->
    <ion-row>
      <ion-col col-10>
        <ion-item>
          <ion-label floating>
            <span class="uni">{{textData[3]}}</span>
          </ion-label>
          <ion-input type="text" [(ngModel)]="transferData.cardNo" [disabled]="disableCardNo=='yes'"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2 align-self-center>
        <ion-buttons>
          <button mode="md" ion-button round icon-only tappable (click)="getServiceAndVoucher()" color="mwallet">
            <ion-icon name="checkbox-outline"></ion-icon>
            <!-- <ion-icon ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon> -->
          </button>          
        </ion-buttons>
      </ion-col>
    </ion-row>
    <div align="center" id="div-error-style" style="color: red;" class="uni" *ngIf="cardNoMsg">
      {{cardNoMsg}}
    </div>

    <!-- expiry date -->
    <ion-item *ngIf="disableCardNo=='yes' && expdate=='yes'">
      <ion-label floating>
        <span class="uni">{{textData[10]}}</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="expirydate" disabled="true"></ion-input>
    </ion-item>

    <!-- weekly or monthly -->
    <ion-item *ngIf="disableCardNo=='yes'">
      <ion-label floating>
        <span class="uni">{{textData[8]}}</span>
      </ion-label>
      <ion-select [(ngModel)]="transferData.packagetype" interface="popover" (ionChange)="changePackageType(transferData.packagetype)">
        <ion-option *ngFor="let obj of packagetypelist" [value]="obj.key">
          {{obj.value}}
        </ion-option>
      </ion-select>
    </ion-item>
    <div align="center" id="div-error-style" class="uni" style="color: red;" *ngIf="packageTypeMsg">
      {{packageTypeMsg}}
    </div>

    <!-- subscription list -->
    <ion-item *ngIf="disableCardNo=='yes' && transferData.packagetype!='ppv'">
      <ion-label floating>
        <span class="uni">{{textData[4]}}</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="transferData.servicename" disabled="true"></ion-input>
      <!-- <ion-select [(ngModel)]="transferData.servicealternativecode" interface="popover" (ionChange)="changeService(transferData.servicealternativecode)">
        <ion-option *ngFor="let obj of servicelist" [value]="obj.alternativecode">
          {{obj.servicecode}}
        </ion-option>
      </ion-select> -->
    </ion-item>
    <div align="center" id="div-error-style" style="color: red;" class="uni" *ngIf="subscriptionMsg">
      {{subscriptionMsg}}
    </div>

    <!-- voucher list -->
    <ion-item *ngIf="disableCardNo=='yes' && transferData.packagetype!='ppv'">
      <ion-label floating>
        <span class="uni">{{textData[5]}}</span>
      </ion-label>
      <ion-select [(ngModel)]="transferData.voucheralternative_code" interface="popover" (ionChange)="changeVoucher(transferData.voucheralternative_code)">
        <ion-option *ngFor="let obj of voucherlist" [value]="obj.alternative_code">
          {{obj.name.substring(obj.name.indexOf('-')+1)}} 
        </ion-option>
      </ion-select>
    </ion-item>
    <div align="center" id="div-error-style" style="color: red;" class="uni" *ngIf="voucherMsg">
      {{voucherMsg}}
    </div>

    <ion-item *ngIf="disableCardNo=='yes' && transferData.packagetype!='ppv'">
      <ion-label floating>
        <span class="uni">{{textData[14]}}</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="amount" disabled="true"></ion-input>
    </ion-item>
    <div *ngIf="disableCardNo=='yes' && transferData.packagetype!='ppv'">
      <span class="uni" id="span-style">Note</span>:&nbsp;<span>Including 5% Government commercial tax.</span>
    </div>

    <!-- movie list -->
    <ion-item *ngIf="disableCardNo=='yes' && transferData.packagetype=='ppv' && weeklydata=='yes'">
      <ion-label floating>
        <span class="uni">{{textData[9]}}</span>
      </ion-label>
      <ion-select [(ngModel)]="transferData.moviecode" interface="popover" (ionChange)="changeMovieName(transferData.moviecode)" class="uni">
        <ion-option *ngFor="let obj of movielist" [value]="obj.moviecode" class="uni">
          {{obj.moviename}}
        </ion-option>
      </ion-select>
    </ion-item>
    <div align="center" id="div-error-style"  style="color: red;" class="uni" *ngIf="movieMsg">
      {{movieMsg}}
    </div>

    <!-- Movie Start Date -->
    <ion-item *ngIf="disableCardNo=='yes' && transferData.packagetype=='ppv' && weeklydata=='yes'">
      <ion-label floating>
        <span class="uni">{{textData[11]}}</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="startdate" disabled="true"></ion-input>
    </ion-item>

    <!-- Movie End Date -->
    <ion-item *ngIf="disableCardNo=='yes' && transferData.packagetype=='ppv' && weeklydata=='yes'">
      <ion-label floating>
        <span class="uni">{{textData[12]}}</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="enddate" disabled="true"></ion-input>
    </ion-item>

    <ion-item *ngIf="disableCardNo=='yes' && transferData.packagetype=='ppv' && weeklydata=='yes'">
      <ion-label floating>
        <span class="uni">{{textData[14]}}</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="ppvamount" disabled="true"></ion-input>
    </ion-item>
    <div *ngIf="disableCardNo=='yes' && transferData.packagetype=='ppv' && weeklydata=='yes'">
      <span class="uni" id="span-style">Note</span>:&nbsp;<span>Including 5% Government commercial tax.</span>
    </div>
    <!-- <div *ngIf="disableCardNo=='yes' && transferData.packagetype='ppv'">
      <span class="uni" id="span-style">Note</span>:&nbsp;<span>Including 5% Government commercial tax.</span>
    </div> -->
  </div>

  <div *ngIf="photo == 'yes'">
    <img src="assets/skynetinfo3.png" style="width: 96%; margin-left: 2%; margin-top: -1%;">
  </div>

  <ion-row style="margin: 0px 5px 0px 5px;" *ngIf="disableCardNo=='yes'">
    <ion-col class="uni" col-6>
      <button mode="md" ion-button outline block tappable (click)="reset()" color="mwallet">
        {{textData[6]}}
      </button>
    </ion-col>
    <ion-col class="uni" col-6>
      <button mode="md" ion-button block tappable (click)="transfer()" color="mwallet">
        {{textData[7]}}
      </button>
    </ion-col>
  </ion-row>
</ion-content>
