<ion-content>
  <ion-item-group>
    <ion-item-divider  class="uni" style="font-size: 1.7rem;padding-top:0px;padding-left:0px;text-align:center;">
      {{headeritem}}
    </ion-item-divider>
    <ion-list style="margin-bottom:0px;">

    <!--<ion-item tappable (click)="dismissIt(popoverItemList[0].key)" no-lines>
      <span class="uni">{{popoverItemList[0].name}}</span>
    </ion-item>-->
      <ion-item tappable (click)="dismissIt(popoverItemList[0].key)" no-lines detail-push>
        <span class="uni">{{popoverItemList[0].name}}</span>
      </ion-item>
      <ion-item tappable (click)="dismissIt(popoverItemList[1].key)" no-lines detail-push>
        <span class="uni">{{popoverItemList[1].name}}</span>
      </ion-item>
      <ion-item tappable (click)="dismissIt(popoverItemList[2].key)" no-lines>
        <span class="uni">{{popoverItemList[2].name}}</span>
      </ion-item>
      <ion-item tappable (click)="dismissIt(popoverItemList[3].key)" no-lines>
        <span class="uni">{{popoverItemList[3].name}}</span>
      </ion-item>

      <ion-item tappable (click)="dismissIt(popoverItemList[4].key)" no-lines detail-push>
        <span class="uni">{{popoverItemList[4].name}}</span>
      </ion-item>
      <ion-item tappable (click)="dismissIt(popoverItemList[5].key)" no-lines detail-push>
        <span class="uni">{{popoverItemList[5].name}}</span>
      </ion-item>
      <ion-item tappable (click)="dismissIt(popoverItemList[6].key)" no-lines>
        <span class="uni">{{popoverItemList[6].name}}</span>
      </ion-item>
      <ion-item tappable (click)="dismissIt(popoverItemList[7].key)" no-lines (click)='goMarket()'>
        <span class="uni">{{popoverItemList[7].name}}</span>
      </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>
