<!--
  Generated template for the SelectAlbumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar transparent style="background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%, rgba(255, 255, 0, 0.2) 100%, rgba(0, 255, 255, 0) 100%);">
    <ion-title><span style="color: white;">Select Album</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen class="edit-content">
  <div class="updiv">
    <div text-center style="padding-top: 60px;">
       <h3 style="font-size: 18px;color: white">+</h3>
    </div>
  </div>

  <div text-center style="padding-top: 15px;">

    <h3> No albums yet</h3>
    <p>
      Create an album to share photos, text posts and more.
    </p>
  </div>
</ion-content>
