<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-buttons end>
      <button style="font-size: 1em;" ion-button icon-only tappable (click)="goSaveImage()">
        <ion-icon name="ios-paper-plane"></ion-icon>
    </button>
    </ion-buttons>
    
    <ion-title id="custom_ion_title"  class="uni" *ngIf="type == 'Receive'">{{textData[2]}}</ion-title>  
    <ion-title id="custom_ion_title"  class="uni" *ngIf="type == 'Cash In'">{{textData[3]}}</ion-title>  
    <!-- <ion-title id="custom_ion_title" class="uni">Receive</ion-title> -->
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-label align="center"  style="font-size:16px;font-weight:450;padding:1px;" >{{name}}  *******{{phoneno}}</ion-label>
        <ion-label align="center" style="font-size:16px;font-weight:400;padding:1px;">
          {{textData[0]}}
        </ion-label>
   
  <div align="center" style="padding:5px;">
    <qr-code [value]="dataValue" [size]="220"></qr-code>
   <h3 align="center">{{amountformat}}  {{textData[1]}}</h3>
  </div>
  

  
  <div align="center" style="padding-top: 0px; padding-bottom: 0px;">
    <!-- <button class="btn-size" style="font-size: 1em;" color="mwalletbtn" ion-button tappable (click)="goClose()">Close</button> -->
    <button class="btn-size" style="font-size: 1em;" color="mwalletbtn" ion-button tappable  (click)="goClose()">Close</button>
</div>
  <!-- <div *ngIf="flag">
    <img src={{screen}}>
  </div> -->
  
</ion-content>

