<!--
  Generated template for the DefaultPopOver page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content mode="md">
    <ion-list style="margin-bottom:0px;">
        <!-- <ion-item tappable (click)="changeLanguage(popoverItemList[0].key)" no-lines>
            <span class="uni">{{popoverItemList[0].name}}</span>
        </ion-item> -->
        <ion-item tappable (click)="changeLanguage(popoverItemList[1].key)" no-lines detail-push>
            <span class="uni">{{popoverItemList[1].name}}</span>
        </ion-item>
        <!-- <ion-item tappable (click)="changeLanguage(popoverItemList[2].key)" no-lines>
            <span class="uni">{{popoverItemList[2].name}}</span>
        </ion-item> -->
        <ion-item tappable (click)="changeLanguage(popoverItemList[3].key)" no-lines>
            <span class="uni">{{popoverItemList[3].name}}</span>
        </ion-item>
    </ion-list>
</ion-content>