<!--
  Generated template for the BankAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">Bank Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
