<ion-header>
    <ion-navbar> 
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title class="uni" id="custom_ion_title">{{textData[0]}}</ion-title>
    </ion-navbar>
</ion-header>  

<ion-content class="vertical-align-content">
    <div ion-fixed *ngIf="isLoading">
        <ion-spinner name="circles" style="color: #EB6944;"></ion-spinner>
    </div>
    <ion-card *ngIf="showData">
        <!--<ion-card-content style="padding-top: 0px;">
             <ion-row>
                <ion-col col-12 style="padding-bottom: 0px;">
                    <span *ngIf="this.registerData.nrc=='' && this.registerData.status=='1'" style="float: right;" class="uni"></span>
                    <span *ngIf="this.registerData.nrc!='' && this.registerData.status=='1'" style="float: right;" class="uni">Saved</span>
                    <span *ngIf="this.registerData.status=='2'" style="float: right;" class="uni">Submitted</span>
                </ion-col>
            </ion-row> 

            <ion-row>
                <ion-col col-12 style="padding-top: 0px;">
                    <ion-item id="secondcard-item-line">
                        <ion-label stacked style="margin-top: 0px;">
                            <span class="uni">{{textData[1]}}</span>
                        </ion-label>

                        <ion-select placeholder="Select Region" *ngIf="labelMode=='enable'" [(ngModel)]="state" (ionChange)="setState(state)" interface="popover">
                            <ion-option *ngFor="let eachState of stateList" [value]="eachState.value" class="uni">
                                {{eachState.caption}}
                            </ion-option>
                        </ion-select>
                        <ion-select *ngIf="labelMode=='disable'" readonly disabled="true" [(ngModel)]="state" (ionChange)="setState(state)" interface="popover">
                            <ion-option *ngFor="let eachState of stateList" [value]="eachState.value" class="uni">
                                {{eachState.caption}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row> 
        </ion-card-content>-->
    </ion-card>

    <ion-card *ngIf="showData">
        <ion-card-content style="padding-top: 0px;">
            <ion-row>
                <ion-col col-12>
                    <!--  <div>
            <div class="uni" align="right" style="padding-top: 10px;">
              <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="nrcAction()">{{textData[26]}}</button>
            </div>
          </div> -->

                    <div *ngIf="msgImgAction!=''" style="color: red;">{{msgImgAction}}</div>

                    <!-- name start -->
                    <ion-item id="secondcard-item-line">
                        <ion-label floating>
                            <span class="uni">{{textData[2]}}</span>
                        </ion-label>
                        <ion-input class="underlineAnnotation" *ngIf="labelMode=='enable'" type="text" [(ngModel)]="registerData.realname"></ion-input>
                        <ion-input class="uni" *ngIf="labelMode=='disable'" readonly type="text" [(ngModel)]="registerData.realname"></ion-input>
                    </ion-item>

                    <div class="uni" *ngIf="eMsgName!=''" style="color: red;">{{eMsgName}}</div>
                    <!-- name end -->

                    <!-- nrc start -->
                    <ion-item id="secondcard-item-line">
                        <ion-label floating>
                            <span class="uni">{{textData[3]}}</span>
                        </ion-label>
                        <ion-input class="uni" *ngIf="labelMode=='enable'" type="text" [(ngModel)]="registerData.nrc"></ion-input>
                        <ion-input class="uni" *ngIf="labelMode=='disable'" readonly type="text" [(ngModel)]="registerData.nrc"></ion-input>
                    </ion-item>

                    <div class="uni" *ngIf="eMsgNRC!=''" style="color: red;">{{eMsgNRC}}</div>
                    <!-- nrc end -->

                    <!-- dateOfBirth start -->
                    <ion-item id="secondcard-item-line">
                        <ion-label floating>
                            <span class="uni">{{textData[4]}}</span>
                        </ion-label>
                        <ion-datetime class="uni" *ngIf="labelMode=='enable'" displayFormat="MM/DD/YYYY" [(ngModel)]="registerData.dob"></ion-datetime>
                        <ion-datetime class="uni" *ngIf="labelMode=='disable'" disabled="true" readonly displayFormat="MM/DD/YYYY" [(ngModel)]="registerData.dob"></ion-datetime>
                    </ion-item>

                    <div class="uni" *ngIf="eMsgDOB!=''" style="color: red;">{{eMsgDOB}}</div>

                    <!--    <ion-item id="secondcard-item-line">
            <ion-label floating>
              <span class="uni">{{textData[4]}}</span>
            </ion-label>
            <ion-input class="{{keyboardfont}}" *ngIf="labelMode=='enable'" type="text" [(ngModel)]="registerData.dob"></ion-input>
            <ion-input class="uni" *ngIf="labelMode=='disable'" readonly type="text" [(ngModel)]="registerData.dob"></ion-input>
          </ion-item>

          <div class="uni" *ngIf="eMsgDOB!=''" style="color: red;">{{eMsgDOB}}</div> -->
                    <!-- dateOfBirth end -->

                    <!-- fathername start -->
                    <ion-item id="secondcard-item-line">
                        <ion-label floating>
                            <span class="uni">{{textData[5]}}</span>
                        </ion-label>
                        <ion-input class="uni" *ngIf="labelMode=='enable'" type="text" [(ngModel)]="registerData.fathername"></ion-input>
                        <ion-input class="uni" *ngIf="labelMode=='disable'" readonly type="text" [(ngModel)]="registerData.fathername"></ion-input>
                    </ion-item>

                    <div class="uni" *ngIf="eMsgFatherName!=''" style="color: red;">{{eMsgFatherName}}</div>
                    <!-- fathername end -->

                    <!-- address start -->
                    <ion-row>
                        <ion-col style="padding-left: 0px; padding-right: 0px;">
                            <ion-list>
                                <ion-item id="secondcard-item-line">
                                    <ion-label class="uni" floating>{{textData[14]}}</ion-label>
                                    <ion-textarea class="uni" *ngIf="labelMode=='disable'" [(ngModel)]="registerData.address"></ion-textarea>
                                    <ion-textarea class="uni" *ngIf="labelMode=='enable'" [(ngModel)]="registerData.address"></ion-textarea>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                    <!-- address end -->
                    <!-- uploading nrc card end -->

                    <!-- <ion-item id="secondcard-item-line">
            <ion-label>
              <span class="uni">{{textData[14]}}</span>
            </ion-label>
            <ion-input *ngIf="labelMode=='enable'" type="text" [(ngModel)]="registerData.address"></ion-input>
            <ion-input *ngIf="labelMode=='disable'" readonly type="text" [(ngModel)]="registerData.address"></ion-input>

            <ion-textarea rows="4" *ngIf="labelMode=='disable'" placeholder="address" [(ngModel)]="registerData.address"></ion-textarea>
            <ion-textarea rows="4" *ngIf="labelMode=='enable'" placeholder="address" [(ngModel)]="registerData.address"></ion-textarea>
          </ion-item>

          <div class="uni" *ngIf="eMsgAddress!=''" style="color: red;">{{eMsgAddress}}</div> -->


                    <!--  <ion-item id="secondcard-item-line">
            <ion-label floating>
              <span class="uni">{{textData[16]}}</span>
            </ion-label>
            <ion-input class="{{keyboardfont}}" *ngIf="labelMode=='enable'" type="text" [(ngModel)]="registerData.id"></ion-input>
            <ion-input class="uni" *ngIf="labelMode=='disable'" readonly type="text" [(ngModel)]="registerData.id"></ion-input>
          </ion-item>

          <div class="uni" *ngIf="eMsgID!=''" style="color: red;">{{eMsgID}}</div>

          <ion-item id="secondcard-item-line">
            <ion-label floating>
              <span class="uni">{{textData[17]}}</span>
            </ion-label>
            <ion-input *ngIf="labelMode=='enable'" type="text" [(ngModel)]="registerData.passbook"></ion-input>
            <ion-input *ngIf="labelMode=='disable'" readonly type="text" [(ngModel)]="registerData.passbook"></ion-input>
          </ion-item>

          <div class="uni" *ngIf="eMsgPassbook!=''" style="color: red;">{{eMsgPassbook}}</div> -->

                    <!-- <ion-item id="secondcard-item-line">
            <ion-label floating>
              <span class="uni">{{textData[22]}}</span>
            </ion-label>
            <ion-input class="{{keyboardfont}}" *ngIf="labelMode=='enable'" type="text" [(ngModel)]="registerData.city"></ion-input>
            <ion-input class="uni" *ngIf="labelMode=='disable'" readonly type="text" [(ngModel)]="registerData.city"></ion-input>
          </ion-item>

          <div class="uni" *ngIf="eMsgCity!=''" style="color: red;">{{eMsgCity}}</div> -->

                    <ion-item id="secondcard-item-line">
                        <ion-label floating>
                            <span class="uni">{{textData[20]}}</span>
                        </ion-label>
                        <ion-input class="uni" *ngIf="labelMode=='enable'" type="tel" [(ngModel)]="registerData.n1"></ion-input>
                        <ion-input class="uni" *ngIf="labelMode=='disable'" readonly type="tel" [(ngModel)]="registerData.n1"></ion-input>
                    </ion-item>

                    <div class="uni" *ngIf="eMsgPhone!=''" style="color: red;">{{eMsgPhone}}</div>

                </ion-col>
            </ion-row>

            <ion-row *ngIf="buttonMode=='saveAndSubmitMode'">            
                <ion-col col-12>
                    <div align="center" id="submit-btn-div">
                        <button id="btn" class="uni" ion-button tappable (click)="goSave(2)" color="mwalletbtn">
                            {{textData[6]}}
                        </button>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="buttonMode=='editMode'">
                <ion-col col-12>
                    <div align="center" id="edit-btn-div">
                        <button id="btn" class="uni" ion-button outline round tappable (click)="goEdit()" color="mwalletbtn">
                            {{textData[15]}}
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>