page-contact {
  ion-avatar img {
    width: 100% !important;
    height: 100% !important;
  }
  ion-avatar {
    min-width: 40px !important;
    min-height: 40px !important;
    width: 40px !important;
    height: 40px !important;
    margin: 0px !important;
  }
  text-avatar, text-avatar::after{
    margin: 0 !important;
    min-width: 40px !important;
    min-height: 40px !important;
    width: 40px !important; 
    height: 40px !important;
  }
  ion-item {
    border-bottom: 1px solid #dedede !important;//not contain ios
    //margin-top: -12% !important;//ios
  }
  .item-inner {
    border-bottom: 0px solid #dedede !important;// not contain ios
    padding-left: 11px !important;
  }
  ion-label {
    margin: 10px 8px 10px 0 !important;
  }  
}  