<!--
  Generated template for the PaymentDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
      </ion-navbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-card-header style="white-space: inherit;background: #34a853;padding: 20px;">
          <div align="center">
            <span class="uni" style="color: #fff;">{{textData[12]}} </span>
          </div>
        </ion-card-header>
        <ion-item text-wrap>
            <p><span class="uni">{{textData[11]}}</span></p>
            <h2 style="font-weight:bold;color:#000;">{{_obj.bankRefNo}}</h2>
          </ion-item>
          <hr>
          <ion-item text-wrap>
            <p><span class="uni">{{textData[13]}}</span></p>
            <h2 style="font-weight:bold;color:#000;">{{name}}</h2>
          </ion-item>
          <hr>
          <ion-item text-wrap>
            <p><span class="uni">{{textData[5]}}</span></p> 
            <h2 style="font-weight:bold;color:#000;">{{amount}}</h2>
          </ion-item>
          <hr>
          <ion-item text-wrap>
            <p><span class="uni">{{textData[6]}}</span></p>
            <h2 style="font-weight:bold;color:#000;">{{transactionDate|date: 'd MMM yyyy'}}</h2>
          </ion-item>
          <hr>
          <div align="center" style="padding-top: 20px; padding-bottom: 30px;" class="uni">
              <button class="btn-size-sm" style="font-size: 1em;" color="mwalletbtn" ion-button tappable (click)="goBack()">{{textData[10] }}</button>
          </div>
          <!-- <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
              <button style="font-size: 1em;width:130px;" ion-button round type="button" tappable (click)="goBack()" style="margin-top:10px;" color="mwalletbtn">{{textData[10] }}</button>
            </div> -->
      </ion-card>
</ion-content>
