<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">
      View
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="contentStyle">
  <ion-card style="margin-top: 10px;">
    <ion-item>
      <ion-row *ngIf="member.person.length > 2" item-left>
        <ion-col style="padding-right: 0px;">
          <ion-row>
            <img id="firstImg" src="assets/images/user-icon.png" *ngIf="member.person[0].t18 == ''">
            <img id="firstImg" src="{{imgLink}}/{{member.person[0].t18}}" *ngIf="member.person[0].t18 != ''" onError="this.src = 'assets/images/user-icon.png'">
          </ion-row>
        </ion-col>
        <ion-col style="padding-left: 0px;">
          <ion-row>
            <img id="secondImg" src="assets/images/user-icon.png" *ngIf="member.person[1].t18 == ''">
            <img id="secondImg" src="{{imgLink}}/{{member.person[1].t18}}" *ngIf="member.person[1].t18 != ''" onError="this.src = 'assets/images/user-icon.png'">
          </ion-row>
          <ion-row>
            <img id="thirdImg" src="assets/images/user-icon.png" *ngIf="member.person[2].t18 == ''">
            <img id="thirdImg" src="{{imgLink}}/{{member.person[2].t18}}" *ngIf="member.person[2].t18 != ''" onError="this.src = 'assets/images/user-icon.png'">
          </ion-row>
        </ion-col>
      </ion-row>

      <h3 style="padding-left: 5px; font-weight: bold; font-size: 21px;" class="uni">{{member.t2}}</h3>

      <ion-row item-right>
        <ion-col>
          <ion-icon color="custom" name="ios-create-outline" style="font-size: 30px;" (click)="changeGruopName()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col style="font-size: 11px;padding-top:15px;padding-left:10px;" class="uni">
        PARTICIPANTS ({{member.person.length}})
      </ion-col>
    </ion-row>

    <!--if you-->
    <div *ngFor="let u of member.person;">
      <ion-item no-lines *ngIf="u.syskey == yourSys">
        <img item-left src="assets/images/user-icon.png" *ngIf="u.t18==''" id="loopingImg">
        <img item-left src="{{imgLink}}/{{u.t18}}" *ngIf="u.t18!=''" onError="this.src = 'assets/images/user-icon.png'" id="loopingImg">
        <h3 style="font-weight: bold; padding-left: 5px;" class="uni">{{u.t2}} [You]</h3>
        <p class="uni">{{u.t1}}</p>
      </ion-item>
    </div>

    <ion-list *ngFor="let i of member.person; let j = index">
      <ion-label style="padding-left: 10px; color: #016042; font-size: 14px;" *ngIf="j == 5 && flag == false" (click)="showAll()">Show All participants
        <ion-icon name="ios-arrow-down"></ion-icon>
      </ion-label>
      <!--comment close-->

      <div *ngIf="i.syskey != yourSys">
        <ion-item no-lines *ngIf=" j < 5">
          <img item-left src="assets/images/user-icon.png" *ngIf="i.t18==''" id="loopingImg">
          <img item-left src="{{imgLink}}/{{i.t18}}" *ngIf="i.t18!=''" onError="this.src = 'assets/images/user-icon.png'" id="loopingImg">
          <h3 style="padding-left: 5px;" class="uni">{{i.t2}}</h3>
          <p class="uni">{{i.t1}}</p>
        </ion-item>

        <ion-item no-lines *ngIf="(j == 5 || j > 5) && flag">
          <img item-left src="assets/images/user-icon.png" *ngIf="i.t18==''" id="loopingImg">
          <img item-left src="{{imgLink}}/{{i.t18}}" *ngIf="i.t18!=''" onError="this.src = 'assets/images/user-icon.png'" id="loopingImg">
          <h3 style="padding-left: 5px;" class="uni">{{i.t2}}</h3>
          <p class="uni">{{i.t1}}</p>
        </ion-item>
      </div>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-label style="padding: 5px 0px 5px 16px; color: red; font-weight: bold;" (click)="leaveAGroup()" class="uni">LEAVE GROUP</ion-label>
  </ion-card>
</ion-content>
