page-view-group {
  #loopingImg {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
  }
  #firstImg {
    margin-top: 0px;
    border-radius: 100px 0px 0px 100px;
    width: 28px;
    height: 50px !important;
    display: inline-block;
    padding-top: 0px;
    padding-left: 0px !important;
    width: 25px !important;
    object-fit: cover;
  }
  #secondImg {
    margin-top: 0px;
    margin-left: 0.5px !important;
    padding-right: 0px;
    padding-top: 0px;
    border-radius: 0px 100px 0px 0px;
    width: 25px !important;
    height: 25px !important;
    display: inline-block;
    object-fit: cover;
  }
  #thirdImg {
    width: 25px !important;
    margin-left: 0.5px !important;
    margin-top: 1px !important;
    padding-right: 0px;
    height: 24px !important;
    display: inline-block;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 100%;
    object-fit: cover;
  }
}
