
<ion-header>

    <ion-navbar>
      <ion-title id="custom_ion_title" class="uni"><span class="uni">{{showFont[0]}}</span></ion-title>
      <ion-buttons end>
        <button ion-button icon-only tappable (click)="nearby()">
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding style="background-color:#ebf5f3;">
    <h4><span class="uni">{{showFont[1]}}</span></h4>
    <ion-row>     
       <p><span class="uni">{{showFont[2]}}</span></p>      
    </ion-row>
    <ion-row>    
       <p><span class="uni">{{showFont[3]}}</span></p>     
    </ion-row>
    <ion-row>      
       <p><span class="uni">{{showFont[4]}}</span></p>      
    </ion-row>
   
  </ion-content>
  <ion-footer>
    <button ion-button type="button" (click)="Start()" style="margin-left: 5%;width: 90%;" color="mwalletbtn"><span class="uni">{{showFont[5]}}</span></button>
  </ion-footer>
  