<ion-content>
  <ion-item-group>
    <ion-item-divider style="font-size: 1.7rem;padding-top:0px;padding-left:0px;text-align:center;">
      Cloud Setting
    </ion-item-divider>
    <ion-list radio-group [(ngModel)]="settings">
      <ion-item no-lines>
        <ion-label>
          <span class="uni">Demo</span>
        </ion-label>
        <ion-radio value="demo" tappable (ionSelect)="gotoUrl('demo')" ng-checked="settings == 'demo'"></ion-radio>
      </ion-item>

      <ion-item no-lines>
        <ion-label>
          <span class="uni">Domain</span>
        </ion-label>
        <ion-radio value="domain" tappable (ionSelect)="gotoUrl('domain')" ng-checked="settings == 'domain'"></ion-radio>
      </ion-item>

      <ion-item no-lines>
        <ion-label>
          <span class="uni">URL</span>
        </ion-label>
        <ion-radio value="url" tappable (ionSelect)="gotoUrl('url')" ng-checked="settings == 'url'"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>
