<ion-header>
  <ion-navbar style="text-align: center;" >
     
      <ion-title id="custom_ion_title"  class="uni">{{showFont[0]}}</ion-title>  
      <ion-buttons end>
        <button style="margin-top: -2%; margin-right: -35%; width: 120px;" ion-button icon-only tappable (click)="nearby()">  
          
          <img src="assets/googlemap.png" id="resize" />
        </button>
      </ion-buttons>       
  </ion-navbar>
</ion-header>

<ion-content mode="md" scroll="false">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
  <div style="padding: 10px;">
      <ion-segment [(ngModel)]="location" mode="md" color="mwalletbtn">
          <ion-segment-button  style="padding-left:2px;" *ngFor="let data of alllocation.data" class="uni" (click)="setLocation(data.locationType)" value="{{data.locationType}}">
              {{data.locationName}}
              <div *ngIf="location==data.locationType"></div>
          </ion-segment-button>
      </ion-segment>
  </div>
  <ion-scroll style="width:100%;height:80vh;" scrollY="true">
  <div [ngSwitch]="location" *ngIf="location != 'All'">      
      <div *ngFor="let loc of alllocation.data">            
          <ion-list *ngSwitchCase="loc.locationType">
              <ion-item  class="uni" *ngFor="let data of loc.dataList" detail-push (click)="getloaction(data)">
                <h2>{{data.name}}</h2>
                <p>{{data.phone1}}</p>
              </ion-item>
          </ion-list>           
      </div>               
  </div> 
  <div [ngSwitch]="location" *ngIf="location == 'All'"> 
  <div *ngFor="let loc of alllocation.data">            
      <ion-list *ngIf="loc.locationType">
          <ion-item class="uni" *ngFor="let data of loc.dataList" detail-push (click)="getloaction(data)">
            <h2> {{data.name}}</h2>
            <p>{{data.phone1}}</p>
          </ion-item>
          <hr style=" display: block; margin: 0px 3px 0px 3px; border: none; background-color: #fffefe">  
      </ion-list>               
  </div>
  </div>    
  </ion-scroll>
  <div *ngIf="status == 0" align="center">
      <ion-card id="ion_card_bg_setting">
          <h3 style="padding:50px;color:#ccc;" class="uni"> No result found!</h3>
      </ion-card>
  </div>

</ion-content>


 


