page-map {

  .segment-md .segment-button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color:  #002060;
    background-color: transparent;
    opacity: 0.7;
    transition: 100ms all linear;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #002060 ; // #434eb2
    opacity: 1;
  }

  ion-list {
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
    list-style-type: none !important;
  }

  .list-md {
    margin: -1px 0 0px !important;
  } 

  #resize {
    width: 30% !important;
    border-radius: 10px !important;
    margin-top: 3% !important;
  }
  
}
