<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>   
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color:#ebf5f3;">
    <ion-card>
      <ion-card-header style="white-space: inherit;background: #d2cece;padding: 20px;">
        <span class="uni" id="span-style">{{textData[17]}}</span><span class="uni" style="color:#434eb2">:
          {{merchant.merchantName}} </span>
      </ion-card-header>
      <ion-row style="padding-left: 15px; padding-right: 15px;">
        <ion-col>
          <ion-list>
            <ion-item style="border-bottom: 1px solid rgb(68, 64, 64) !important;">
              <ion-label floating>
                <span class="uni">{{textData[18]}}</span>
              </ion-label>
              <ion-input type="text" [(ngModel)]="_obj.userID"
               class="{{keyboardfont}}" readonly="true"></ion-input>
            </ion-item>
            <ion-item style="border-bottom: 1px solid rgb(68, 64, 64) !important;">
                <ion-label floating>
                  <span class="uni">{{textData[19]}}</span>
                </ion-label>
              
                <ion-input type="text" [(ngModel)]="_obj.toName"
                 class="{{keyboardfont}}" readonly="true"></ion-input>
              </ion-item>
              <ion-item style="border-bottom: 1px solid rgb(68, 64, 64) !important;">
                  <ion-grid no-padding item-content>
                      <ion-row>
                        <ion-col col-10> 
                          <ion-label floating><span class="uni">{{textData[5]}}</span></ion-label>
                          <ion-input class="uni" #myInput type="tel" onDrag="return false" onDrop="return false" onPaste="return false"
                          autocomplete=off [(ngModel)]="_obj.amount"></ion-input>
                        </ion-col>
                        <ion-col col-2>
                          <ion-label floating><span class="uni">&nbsp;</span></ion-label>
                          <ion-input  placeholder="MMK" readonly="true"></ion-input>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
              </ion-item>
              <div *ngIf="errormsg1!=''" align="center" style="color: red;">{{errormsg1}}</div>
                <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
                    <button class="btn-size" style="font-size: 1em;" color="mwalletbtn" ion-button tappable
                      (click)="paymentV2()">{{textData[10] }}</button>
                  </div>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-card>
  
  </ion-content> 
  
