<!--
  Generated template for the MobileLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">
      <span class="{{showFont}}">{{textData[0]}}</span>
  </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  mode="md" scroll="false">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
  <ion-card style="margin-top:5% !important">
    <ion-row style="padding-left: 15px; padding-right: 15px;">
    <ion-list>
      <ion-col>
      <ion-item style="border-bottom-color: #dedede;box-shadow: inset 0 -1px 0 0 #dedede;background-color: transparent;">
        <ion-label stacked>
          <span class="uni">{{textData[1]}}</span>
        </ion-label>
        <ion-input #user type="text" [(ngModel)]="loginData.userph" (ngModelChange)="inputChange($event)" (keyup)="onChange($event,loginData.userph)" ></ion-input>
        <ion-icon name="md-person" style="font-size:27px;" item-left color="mwallet">
        </ion-icon>
      </ion-item>
      <div style="padding: 10px"></div>
      <ion-item style="border-bottom: 0px solid #dedede;border-bottom-color: #dedede;box-shadow: inset 0 -1px 0 0 #dedede;    background-color: transparent;">
        <ion-label stacked>
          <span class="uni">{{textData[2]}}</span>
        </ion-label>
        <ion-input #pass type="password" [(ngModel)]="loginData.userpsw"  ></ion-input>
        <ion-icon name="md-lock" style="font-size:27px;" item-left color="mwallet">
        </ion-icon>
      </ion-item>
      <!-- <div style="align-content: center;">
        <div align="center">
          <button mode="md" [disabled]="isenabled" ion-button round tappable (click)="goLogin()" full color="shwe">
            <span class="uni">{{showFont[5]}}</span>
          </button>
        </div>
      </div> -->
      <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
        <button class="btn-size" style="font-size: 1em;" color="mwalletbtn" ion-button tappable (click)="goLoginUPO()" [disabled]="this.btnflag">{{textData[5]}}</button>
      </div>
      </ion-col>
    </ion-list>
    <div style="padding: 10px"></div>
  </ion-row>
  </ion-card>


</ion-content>
