page-mobile-login {

    .vcenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70%;
      }
    
      .resize {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100px;
        margin: 20px 0px 30px 0px;
      }
    
      .resizefooter {
        // height: auto;
        //width: auto;
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%; // Shwe
        // max-height: 100px; // NSB
        //  max-height: 100%; // TCB
        display: inline-block;
        margin-right: auto;
      }
    
      .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #dedede;
        box-shadow: inset 0 -1px 0 0 #dedede;
      }
    
      .slide-zoom {
        text-align: center;
        display: flex;
        width: 100%;
        height: 130px;
        padding: 10px;
      }
    
      .item-md ion-icon[item-left]+.item-inner,
      .item-md ion-icon[item-left]+.item-input,
      .item-md ion-icon[item-start]+.item-inner,
      .item-md ion-icon[item-start]+.item-input {
        margin-left: 14px;
      }
    
      .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: #44aae2;
        box-shadow: inset 0 0px 0 0 #44aae2;
      }
    
      .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #dedede;
        box-shadow: inset 0 0px 0 0 #dedede;
      }
    
      .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #dedede;
        box-shadow: inset 0 0px 0 0 #dedede;
      }
    
      .bg_color {
        //color: #3B5998, #6a74c7;
        background: linear-gradient(-51deg, #3B5998 26%, white 0%, white 100%, #3B5998 23%); //008975
        /*  linear-gradient(to right, #CC9900, #FFFF99); 
        linear-gradient(45deg,  transparent 0%, transparent 57%, #423246 100%),
         linear-gradient(-45deg, #8f5046 0%,  #A14436 0.3%, #4C2556 112%,  transparent 11% ),
         linear-gradient(-90deg, #A14436 100%, #A14436 65%, transparent 20% ) ; 
         linear-gradient(to bottom right, #008975 40%, #ffffff 100%, #008975 40%);*/
      }
    
      .div_login {
        margin: 0px 25px;
        background-color: white;
        padding: 25px;
        border-radius: 10px;
        background: #ececec;
      }
    
      #mask-text {
        -webkit-text-security: disc;
        -moz-webkit-text-security: disc;
        -moz-text-security: disc;
      }
    
      .footer-md::before,
      .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
        background-image: none !important;
      }

}
