page-choose-contact {
  ion-avatar img {
    width: 100% !important;
    height: 100% !important;
  }
  ion-avatar {
    min-width: 40px !important;
    min-height: 40px !important;
    width: 40px !important;
    height: 40px !important;
    margin: 0px !important;
  }
  text-avatar, text-avatar::after{
    margin: 0 !important;
    min-width: 40px !important;
    min-height: 40px !important;
    width: 40px !important; 
    height: 40px !important;
  }
  ion-item {
    border-bottom: 1px solid #dedede !important;
  }
  
  ion-label {
    margin: 10px 8px 10px 0 !important;
  }
  .item-inner {
    border-bottom: 0px solid gray !important;
    box-shadow: none !important;
  }
}
