<!--
  Generated template for the MyPopOverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>myPopOverPage</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <ion-list style="margin-bottom:0px;">
    <ion-item *ngFor="let item of popoverItemList" (click)="changeLanguage(item.key)" no-lines>
     <span class="uni"> {{item.name}}</span>
    </ion-item>
  </ion-list>
</ion-content>
