<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title"  class="uni">{{textData[0]}}</ion-title>  
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item tappable (click)="goPage('1')" detail-push style="padding-right: 16px;">
      <p class="{{showFont}}">{{textData[1]}}</p>
    </ion-item>

    <ion-item tappable (click)="goPage('2')" detail-push style="padding-right: 16px;">
      <p class="{{showFont}}">{{textData[2]}}</p>
    </ion-item>
  </ion-list>
</ion-content>