<ion-content>
  <ion-list style="margin-bottom:0px;">
    <ion-item *ngFor="let item of popoverItemList; let i=index;" (click)="changeLanguage(item.key,i)" no-lines>
      <img id="mapimg" [src]="item.icon"><span class="uni"> {{item.name}}</span>
      <img *ngIf="item.key == global.nearbyIndex" src="./assets/Language.png" class="lan-img" />
    </ion-item>
  </ion-list>
</ion-content>