<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">
      <span class="uni">{{showFont[0]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item text-wrap>
      <p class="uni">{{showFont[3]}}</p>
      <!-- <h2 style="float:left;font-weight:bold;color:#000;">{{b.txnDate}}</h2> -->
      <h2 style="float:left;font-weight:bold;color:#000;">{{resultdata.txnDate| date: 'd MMM yyyy'}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[2]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{resultdata.txtReferenceNo}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[7]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{resultdata.remark}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[8]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;" *ngIf = "displayArray[0]!=''">{{displayArray[0]}}&nbsp;({{displayArray[1]}})</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[4]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{resultdata.txnAmount}} &nbsp; MMK</h2>
    </ion-item>
    <hr>
    <ion-item  *ngIf="refflag" text-wrap>
      <p class="uni">{{showFont[5]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{resultdata.remark}}</h2>
    </ion-item>
       <!-- <ion-item text-wrap>
        <p class="uni">{{showFont[6]}}</p>
        <h2 style="float:left;font-weight:bold;color:#000;">{{resultdata.remark}}</h2>
    </ion-item> -->
  </ion-card>
</ion-content>
