<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title"  class="uni">
      {{showFont[0]}}
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only tappable (click)="datafilter($event)">
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

 

  <div #map id="map"></div>

</ion-content>