<ion-header>
    <ion-navbar>
        <ion-title id="custom_ion_title" class="uni">{{showFont[3]}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <h4 align="center"><span class="uni">{{showFont[1]}}</span></h4>
    <ion-card>
        <img src="assets/location.png" />
    </ion-card>
    <ion-card>
        <ion-list>
            <ion-item no-lines>
                <ion-row>
                    <ion-col col-1>
                        <ion-icon full name="pin" style="width: 100%;color:#003af3;"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        <ion-item style="padding-left: 0px;margin-top: -16px;" text-wrap>
                            <span class="uni">{{showFont[0]}}</span>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1>
                        <ion-icon full name="globe" style="width: 100%;color:#003af3;"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        <div>
                            <a href="http://www.NSBank.com">http://www.NSBank.com</a>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item no-lines>
                <ion-row>
                    <ion-col col-1>
                        <ion-icon full name="call" style="width: 100%;color:#003af3;"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        <i ng-switch-when="PHONE">
                            <a href="tel:012307901"
                                ng-class="{'item-divider': genericItem.Container =='ITEMDIVIDER', 'SS-item-no-border: genericItem.CONTAINER == 'ITEMNOBORDER'}">
                                <i class="icon ion-ios7-world-outline SS-list.icon3"></i>0123079013
                            </a>
                        </i>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item no-lines>
                <ion-row>
                    <ion-col col-1>
                        <ion-icon full name="ios-mail" style="width: 100%;color:#003af3;"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        <div>Fax: +951371834</div>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>