<ion-header>
    <ion-navbar>
        <ion-title id="custom_ion_title" class="uni">{{showFont[0]}}</ion-title>
        <input style="margin-left: 86%;margin-top: 3%;" type="checkbox" [(ngModel)]="masterCheck" [indeterminate]="isIndeterminate" (click)="checkMaster($event)">
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <div [hidden]="this.hidden">
        <div *ngFor="let item of contactObj.dataList; let i= index">
            <ion-list>
                <ion-item style="padding-top: 2px; padding-bottom: 2px;">
                    <ion-row item-left>
                        <text-avatar *ngIf="item.t16 == '' || item.t16 == 'user-icon.png'" [text]="item.t3" item-left style="background-color: #434eb2 !important;"></text-avatar>
                        <ion-avatar *ngIf="item.t16 != '' && item.t16 != 'user-icon.png'">
                            <img src="{{profileImageLink}}{{item.t16}}" onError="this.src = 'assets/images/user-icon.png'">
                        </ion-avatar>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <h3 style="font-weight: bold;padding-left: 5px;font-size: 15px;" class="uni">{{item.t3}}</h3><br>
                            <p style="padding-left: 5px;" class="uni">{{item.t1}}</p>
                        </ion-col>
                        <ion-col>
                            <input style="margin-left: 90%;margin-top: 10%;" type="checkbox" [(ngModel)]="item.isChecked" (ionChange)="checkEvent()">
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </div>
        <div *ngIf="errormsg!=''" align="center" style="color: red;">{{errormsg}}</div>
    </div>

</ion-content>
<ion-footer [hidden]="this.hidden">
    <ion-toolbar color="green">
        <button class="uni" align="center" style="font-size: 1em; width: 35%;margin-left: 32.5%;" color="mwalletbtn" ion-button tappable (click)="getCheckedvalue()">ADD</button>
    </ion-toolbar>
</ion-footer>