<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color:#ebf5f3;" >
  <ion-card >
    <ion-item>
      <p class="uni">{{textData[3]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{_obj.beneficiaryID}}</h2>
    </ion-item>
    <ion-item>
      <p class="uni">{{textData[1]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{_obj.toName}}</h2>
    </ion-item>
    <ion-item>
      <p class="uni">{{textData[5]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{ammount}}</h2>
    </ion-item>
    <ion-item *ngIf="remark_flag">
      <p class="uni">{{textData[12]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{_obj.remark}}</h2>
    </ion-item>
    <ion-row>
      <ion-col class="uni" col-6>
        <div style="padding-bottom: 20px; padding-right: 10px; ">
          <button class="btn-size" style="font-size: 1em;" ion-button outline tappable (click)="goBack()"
            color="mwalletbtn">
            {{textData[10]}}
          </button>
        </div>
      </ion-col>
      <ion-col class="uni" col-6 *ngIf="passPassword==1">
        <div style="padding-right: 10px;">
          <button class="btn-size" style="font-size: 1em;width:130px;" ion-button tappable (click)="presentPopoverContact($event)" color="mwalletbtn">
            {{textData[11]}}
          </button>
        </div>
      </ion-col>
      <ion-col class="uni" col-6 *ngIf="passPassword==0">
        <div style="padding-right: 10px;">
          <button class="btn-size" style="font-size: 1em;width:130px;" ion-button tappable (click)="goConfrim()" color="mwalletbtn">
            {{textData[11]}}
          </button>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-item>
      <p class="uni">{{textData[6]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{_obj.remark}}</h2>
    </ion-item> -->
  </ion-card>
</ion-content>