<ion-header>
  <ion-navbar>
    <!--   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
   
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row style="padding-left: 15px; padding-right: 15px;">
      <ion-col>
        <ion-list>
          <ion-item style="border-bottom: 1px solid gray !important;">
            <ion-label floating>
              <span class="uni">{{textData[3]}}</span>
            </ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="phone"
              (keyup)="onChange($event,_obj.beneficiaryID)" class="uni" readonly="true"></ion-input>
              <!-- <div color="mwalletbtn" item-right tappable (click)="checkWallet()" style="padding:0px;margin: 30px -100px 0px 0px;">
                <button mode="md" transparent ion-button icon-only clear>
                    <ion-icon tappable>
                        <img *ngIf="isChecked" src="assets/person-check.png">
                        <img *ngIf="!isChecked" src="assets/check.png">
                    </ion-icon>
                </button>
            </div> -->
            <!-- <div item-right style="padding:0px;">
            </div> -->
          </ion-item>
          <div *ngIf="errormsg2!=''" align="center" style="color: red;">{{errormsg2}}</div>
          <!-- <div align="center" id="div-error-style" class="uni">
            {{errormsg2}}
          </div> -->
          <!-- <hr> -->
          <ion-item style="border-bottom: 1px solid gray !important;">
            <ion-label floating>
              <span class="uni">{{textData[1]}}</span>
            </ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="_obj.toName" class="{{keyboardfont}}" readonly="true">
            </ion-input>
          </ion-item>
          <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
            <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="goScan()" [disabled]="this.btnflag">{{textData[10]}}</button>
          </div>
        </ion-list>        
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>