<!--
  Generated template for the LocationDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px"/>
    <ion-title class="titleicon" style="display:inline-block;" >Shwe Bank</ion-title> -->
    <!--<span class="uni">{{showFont[0]}}</span>-->
    <ion-title id="custom_ion_title" class="uni">
      <span class="uni">{{showFont[0]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color:#ebf5f3;">

  <div #map id="map"></div>


  <ion-card style="margin-top:3%;">

    <!-- <ion-row>
      <ion-col col-1 padding-top padding-left>
        <ion-icon ios="ios-pin" md="md-pin" style="color: blue;font-size: 25px;"></ion-icon>
      </ion-col>
      <ion-col col-11 padding>
        <p>
          {{data.address}}
        </p>
      </ion-col>
    </ion-row> -->
    <ion-row style="margin-left: 4%; margin-top: 3%">
      <ion-col size="2">Name:</ion-col>
      <ion-col size="3">{{data.name}}</ion-col>
    </ion-row>
    <ion-row style="margin-left: 4%;">
      <ion-col size="2">Phone No:</ion-col>
      <ion-col size="3"><p>{{data.phone}}</p></ion-col>
    </ion-row>
    <ion-row style="margin-left: 4%;">
      <ion-col size="2">Address:</ion-col>
      <ion-col size="3"><p>{{data.address}}</p></ion-col>
    </ion-row>
    <!-- <ion-row style="margin-left: 4%;">
      <p>{{data.address}}</p>
    </ion-row> -->
    <ion-row  *ngIf="flag" style="margin-left: 4%;">
      <!-- <p style="color:#337AB7;" (click)="goAgent()"><u>{{showFont[1]}}</u></p> -->
      <button ion-button color="mwalletbtn"  (click)="goAgent()">{{showFont[1]}}</button>
      <!-- <span style="color:#337AB7;font-size: 15px;"><u>{{showFont[1]}}</u></span> -->
    </ion-row>
  </ion-card>
</ion-content>