page-qr-receipt {
  img {
    width: 20%;
  }
  .item-inner {
    border-bottom: 0px solid gray !important;
    box-shadow: none !important;
  }
  .item {
    padding-left: 0px !important;
  }
  .mycard {
    border-radius: 2px;
    margin: 4px 7px 4px 7px;
    font-size: 1.4rem;
    background: #fff;
}
 
}
