
page-transfer{
      .item-inner {
        border-bottom: 0px solid gray !important;
        box-shadow: none !important;
      }
      img {
        //margin-bottom: 15px;
        //margin-top: 15px;
        width: 20%;
      }
      #contanticon img {
        //margin-bottom: 15px;
        margin-top: 15px;
        width:40px;
      }
      .item {
        padding-left: 0px !important;
      }
}