<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>  
  </ion-navbar>
</ion-header>

<ion-content class="selectable">
  <div style="padding-top: 5px;" *ngIf="isLoading">
    <div align="center">
      <ion-spinner name="circles"></ion-spinner>
    </div>
  </div>
  <ion-list *ngIf="nores == 1">
    <ion-item *ngFor="let cmt of replyData;let j = index" no-lines>
      <div style="float: left;">
        <img item-left src="{{photoLink}}/{{cmt.t10}}" style="width:45px;height: 45px;border-radius: 50%;object-fit: cover;" onError="this.src = 'assets/images/user-icon.png'">
      </div>
      <div style="float: left;width:84%;">
        <h4 style="font-weight: bold;margin-top: 15px;" class="{{showFont}}" *ngIf="cmt.userName">{{cmt.userName}}</h4>
        <h4 style="font-weight: bold;margin-top: 15px;" class="{{showFont}}" *ngIf="cmt.userName==''">MIT User</h4>
        <p text-wrap style="color: #000000;line-height: 10px;" *ngIf="!urlValidation(cmt.t2)" class="{{showFont}}">{{cmt.t2}}</p>
        <a href="{{cmt.t2}}" *ngIf="urlValidation(cmt.t2)" class="{{showFont}}">{{cmt.t2}}</a>
        <p style="font-size:1.2rem;">
          <span *ngIf="cmt.differenceTime == ' W'" style="color: #b1a7a7;">{{ cmt.modifiedDate}} </span>
          <span *ngIf="cmt.differenceTime != ' W'" style="color: #b1a7a7;">{{cmt.differenceTime}}</span>
        </p>
      </div>
    </ion-item>
  </ion-list>

  <div *ngIf="status">
    <ion-row>
      <ion-col col-3>
        <div style="color:#808080;" align="right">Sending</div>
      </ion-col>
      <ion-col>
        <ion-spinner name="dots"></ion-spinner>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="nores == 0" align="center">
    <h3 style="padding:50px;color:#ccc;">
      <span class="{{showFont}}">{{textData[1]}}</span>
    </h3>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col col-10>
        <ion-textarea class="uni" autocomplete="true" spellcheck="true" placeholder="{{textData[2]}}" [(ngModel)]="comment" (focus)="onFocus()">
        </ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only item-right tappable (click)="saveCommentReply()">
          <ion-icon name="ios-send" ios="ios-send" md="md-send" color="custom"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>