<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>   
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color:#ebf5f3;">
    <ion-card>
      <ion-card-header style="white-space: inherit;background: #d2cece;padding: 20px;">
        <span class="uni" id="span-style">{{textData[17]}}</span><span class="uni" style="color:#434eb2">:
          {{merchant.merchantName}} </span>
      </ion-card-header>
      <ion-row style="padding-left: 15px; padding-right: 15px;">
        <ion-col>
          <ion-list>
            <ion-item style="border-bottom: 1px solid gray !important;">
              <ion-label floating>
                <span class="uni">{{textData[18]}}</span>
              </ion-label>
              <ion-input type="text" [(ngModel)]="_obj.userID"
               class="{{keyboardfont}}" readonly="true"></ion-input>
            </ion-item>
            <ion-item style="border-bottom: 1px solid gray !important;">
                <ion-label floating>
                  <span class="uni">{{textData[19]}}</span>
                </ion-label>
                <ion-input type="text" [(ngModel)]="_obj.toName"
                 class="{{keyboardfont}}" readonly="true"></ion-input>
              </ion-item>
              <ion-item style="border-bottom: 1px solid gray !important;">
                  <ion-label floating>
                    <span class="uni">{{textData[5]}}</span>
                  </ion-label>
                  <ion-input type="tel" pattern="[0-9]*" class="{{keyboardfont}}" onDrag="return false" onDrop="return false"
                onPaste="return false" autocomplete=off [(ngModel)]="_obj.amount"></ion-input>
              </ion-item>
              <div *ngIf="errormsg1!=''" align="center" style="color: red;">{{errormsg1}}</div>
                <!-- <div color="shwe" item-right tappable (click)="calculate()" style="padding:0px;width:33px;margin: 16px -5px 0px 0px;">
                  <button mode="md" transparent ion-button icon-only clear>
                      <ion-icon name="calculator" style="font-size: 30px;" color="mwalletbtn"></ion-icon>
                  </button>
              </div> -->                
                <!-- <ion-item style="border-bottom: 1px solid gray !important;">
                  <ion-label floating>
                      <span class="uni bfont">{{textData[20]}}</span>
                  </ion-label>
                  <ion-input type="text" disabled="true" [(ngModel)]="_obj.commRef"></ion-input>
              </ion-item> -->
                <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
                    <!-- <button class="btn-size" style="font-size: 1em;" color="mwalletbtn" ion-button tappable
                      (click)="presentPopoverContact($event)">{{textData[10] }}</button> -->
                      <button class="btn-size" style="font-size: 1em;" color="mwalletbtn" ion-button tappable
                      (click)="goConfrim()">{{textData[10] }}</button>
                  </div>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-card>
  
  </ion-content> 
  <!-- paymentV2() -->
  <!-- [disabled]="this.btnflag" -->
  
