<ion-content>
    <ion-item style="margin-top:22px;">
        <ion-label floating>Phone Number</ion-label>
        <ion-input type="tel" [(ngModel)]="_obj.phone"></ion-input>
    </ion-item>
    <div>
        <ion-row>
            <ion-col class="uni" col-6>
                <button mode='md' style="font-size: 1em; width:100%;" ion-button outline tappable (click)="scanQR()" color="mwalletbtn"> QRScan</button>
            </ion-col>

            <ion-col class="uni" col-6>
                <button mode='md' style="font-size: 1em; width:100%" ion-button tappable (click)="save()" color="mwalletbtn">
          Add Contact
        </button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>