page-wallet {
    //   ion-card {
    //     text-align: center !important;
    //     -webkit-box-shadow: none !important;
    //     box-shadow: none !important;
    //     margin: 5px !important;
    //     padding-bottom: 15px !important;
    //     width: auto !important;
    //   }
    ion-card img {
        display: block;
        width: 50%;
        height: 30%;
        margin-bottom: 15px;
        margin-top: 15px;
    }
   
    .rounded {
        border-radius: 7px;
        margin: 0 auto;
        margin-bottom: 5% !important;
        min-height: 12%;
        text-align: center;
        color: green;
        width: 99%;
        line-height: 35px;
        padding-top: 2%;
        // background-color: #0095f3;  
        // background-color: #00a0f3;
        background-color: #434eb2;
        //border: 3px solid #003af3;
        align-items: flex-start;
    }
    .span {
        border: 3px solid #434eb2;
        padding: 0em 1em;
        border-radius: 12px;
        font-size: 24px;
        line-height: 2;
    }
    .caption1 {
        color: white !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }
    .caption2 {
        font-size: 22px !important;
        font-weight: 100 !important;
        color: white !important;
    }
    .first_div_one {
        padding-top: 105px;
        margin-left: 15px;
        color: white !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }
    .second_div_one {
        padding-top: 10px;
        padding-right: 5px;
        margin-left: 15px;
        font-size: 25px !important;
        font-weight: 100 !important;
        color: #ce972d !important;
    }
    .wallet {
        font-size: 1.3rem;
        color: black;
        text-align: center;
    }
    ion-col img {
        //display: block;
        width: 70%;
        height: 30%;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    @media only screen and (min-device-width: 500px) {
        // default iPad screens 
        .ion-text {
            margin-top: -5%;
        }
    }
    @media screen and (min-width: 769px) {
        .ion-text {
            margin-top: -5%;
        }
    }
    @media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
        .ion-text {
            margin-top: -5%;
        }
    }
    @media only screen and (max-device-width: 480px) {
        /* STYLES HERE */
    }
    .ion-text {
        margin-top: -20%;
    }
    #resize {
        width: 30% !important;
        border-radius: 10px !important;
        margin-top: 3% !important;
    }
    .item-inner {
        border-bottom: 0px solid gray !important;
        box-shadow: none !important;
      }
    .walletsize{
        width: 50%;
        height: 30%;
    }
    .cover {
        position: relative;
        margin: 0 auto;
        width: 400px;
        height: 100px;
        background-color: #ffffff;
        border: 1px solid gray;
    }
    .inner {
        position: absolute;
        top: 77px;
        left: 50px;
        width: 300px;
        height: 50px;
        background-color: #ffffff;
        border: 1px solid gray;	
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
    }
    .img-payment{
        margin:0 auto;
        display: block;
        margin-top:1px;
        width: 45% !important;
        height:45% !important;
       
    }
    .resizefooter {
        // height: auto;
        //width: auto;
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%; // Shwe
        // max-height: 100px; // NSB
        //  max-height: 100%; // TCB
        display: inline-block;
        margin-right: auto;
    }
    .card-md{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .map-color{
        background-color:rgb(26, 18, 92);
        background-color:rgba(21, 17, 248, 0.4);
    }
//     .forecast_container{
//         overflow-x: visible!important;
//         overflow-y: hidden;
//         word-wrap: break-word;
//         height:20vw;
//         font-size:0.8em;
//         font-weight:300;
// }
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -7px !important;
    }

    .swiper-pagination-bullet {
        border-radius: 100%;
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #e8dcdc;
        /* opacity: .2; */
        pointer-events: auto;
    }