page-pics-channel {
    #label_font {
        padding: 5px 5px;
        font-size: 10px !important;
        // color: map-get($colors, fontcolortwo) !important;
      }
      #item_font_1 {
        padding: 5px 5px;
        font-size: 13px !important;
        font-weight: 500 !important;
        // color: map-get($colors, fontcolorone) !important;
      }
      #item_font_2 {
        padding: 5px 5px;
        font-size: 13px !important;
        font-weight: bold !important;
        // color: map-get($colors, pctwo) !important;
      }
      #button_arrow_right {
        padding: 15px 15px;
        cursor: auto;
        background-color: transparent;
        background-image: url(../assets/cell-arrow-right-icon.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-size: 100%;
      }
}
