page-contact-info {
    /* input[type="text"]:disabled {
        color: #070707;
    } */

    img {
      width: 20%;
    }
    .item-inner {
      border-bottom: 0px solid gray !important;
      box-shadow: none !important;
    }
    .item {
      padding-left: 0px !important;
    }
}
