page-scan-detail-list {
  .page-content{
    background-image:url('../assets/bg3.jpg') !important;
    background-color:black;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .ion-item-options {align:right}

  .class_name {
   line-break: auto;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #e6e9ee;
    -webkit-box-shadow: inset 0 -1px 0 0 #e6e9ee;
    box-shadow: inset 0 -1px 0 0 #e6e9ee;
  }
}
