<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="custom_ion_title" class="uni">{{textDatas[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item style="padding-right:15px">
    <ion-label floating>
      <span class="uni">{{textDatas[0]}}</span>
    </ion-label>
    <ion-input class="uni" type="text" [(ngModel)]="domain"></ion-input>
  </ion-item>
  <ion-label *ngIf="errormessagetext!=''" style="color:red;text-align: center;font-size: 15px;">
    <span class="uni">{{errormessagetext}}</span>
  </ion-label>
  <ion-item style="padding-right:15px">
    <ion-label floating>
      <span class="uni">{{textDatas[1]}}</span>
    </ion-label>
    <!-- <ion-input type="text" class="uni" placeholder="{{textDatas[2]}}" [(ngModel)]="model.productName"></ion-input>-->
    <ion-input class="uni" type="text" [(ngModel)]="key"></ion-input>
  </ion-item>

  <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
    <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="savedomain()">{{textDatas[2] }}</button>
  </div>
</ion-content>
