<ion-header>
    <ion-navbar>
        <ion-title id="custom_ion_title" class="uni">
            <span *ngIf="title =='comment'">{{textData[0]}}</span>
            <span *ngIf="title =='detail'">{{textData[6]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="selectable">
    <div ion-fixed style="padding-top: 10px;" *ngIf="isLoading">
        <div align="center">
            <ion-spinner name="circles" style="color: #1f4e79;background-color: white;border-radius: 50%;"></ion-spinner>
        </div>
    </div>

    <ion-card style="margin: 0px 0px 8px 0px !important; width: 100% !important;">
        <hr style=" display: block; margin: 0px 3px 0px 3px; border: none; background-color: lightgrey">

        <ion-card-content *ngIf="postTitle != ''">
            <div class="{{showFont}}">
                <p class="uni" style="font-weight: bold;line-height:1.6;font-size:1.5rem;">{{detailData.t1}}</p>
                <p style="padding-left: 0px;font-size:1.2rem;color: #808080;" class="uni">{{ detailData.modifiedDate}} at {{ detailData.modifiedTime}}</p>
            </div>
        </ion-card-content>

        <ion-card-content *ngIf="postTitle == ''">
            <div class="{{showFont}}">
                <ion-item style="padding-left: 0 !important;">
                    <ion-avatar item-start>
                        <img *ngIf="detailData.userId == registerData.t1" src="{{profile}}" onError="this.src = 'assets/images/user-icon.png'">
                        <img *ngIf="detailData.userId != registerData.t1" src="assets/images/user-icon.png">
                    </ion-avatar>
                    <h2 class="uni" style="font-weight: bold; line-height: 1.6; font-size: 1.4rem;">{{detailData.userName}}</h2>
                    <p style="padding-left: 0px;font-size:1.2rem;color: #808080;" class="uni">{{ detailData.modifiedDate}} at {{ detailData.modifiedTime}}</p>
                </ion-item>
            </div>
        </ion-card-content>
        <hr style=" display: block; margin: 5px 3px 0px 3px; border: none; background-color: lightgrey">
        <ion-card-content>
            <div class="{{showFont}}">
                <p *ngIf="detailData.t2!=''" class="uni" [innerHTML]="detailData.t2"></p>
                <div class="video-container" *ngIf="detailData.t8 || detailData.videoStatus" tappable (click)="goDetail(detailData)">
                    <img id="projectplayer" src="{{videoImgLink}}{{detailData.videoLink}}" class="resize_fit_center" onError="this.src = 'assets/images/imgErr.png'" />
                    <button class="play" style="position: absolute;right: 45%;bottom: 40%;"><ion-icon name="play"></ion-icon></button>
                </div>
            </div>
        </ion-card-content>

        <!-- view photo-->
        <div *ngIf="detailData.t8 =='' && detailData.videoStatus == false" style="padding-bottom: 5px;">
            <div class="container" *ngIf="detailData.uploadedPhoto.length == 1; let id = index" tappable (click)="singlePhoto(detailData.uploadedPhoto[0].t7)">
                <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize_fit_center" onError="this.src = 'assets/images/imgErr.png'">
            </div>
            <div *ngIf="detailData.uploadedPhoto.length == 2; let id = index" tappable (click)="viewImage(detailData)">
                <ion-row>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-left:0px">
                        <img src="{{detailData.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
            </div>
            <div *ngIf="detailData.uploadedPhoto.length == 3; let id = index" tappable (click)="viewImage(detailData)">
                <ion-row>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-left:0px">
                        <img src="{{detailData.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: -7px;padding-right: 5px;padding-left: 5px;">
                    <img src="{{detailData.uploadedPhoto[2].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                </ion-row>
            </div>
            <div *ngIf="detailData.uploadedPhoto.length == 4; let id = index" tappable (click)="viewImage(detailData)">
                <ion-row>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-left:0px">
                        <img src="{{detailData.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: -7px">
                    <ion-col style="padding-bottom: 0px;padding-bottom: 0px;">
                        <img src="{{detailData.uploadedPhoto[2].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-left:0px;padding-bottom: 0px;">
                        <img src="{{detailData.uploadedPhoto[3].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
            </div>
            <div *ngIf="detailData.uploadedPhoto.length == 5; let id = index" tappable (click)="viewImage(detailData)">
                <ion-row>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-left:0px">
                        <img src="{{detailData.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: -7px">
                    <ion-col style="padding-bottom: 0px;">
                        <img src="{{detailData.uploadedPhoto[2].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-left:0px;padding-bottom: 0px;">
                        <img src="{{detailData.uploadedPhoto[3].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-left:0px;padding-bottom: 0px;">
                        <img src="{{detailData.uploadedPhoto[4].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
            </div>
            <div *ngIf="detailData.uploadedPhoto.length > 5; let id = index" tappable (click)="viewImage(detailData)">
                <ion-row>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-left:0px;">
                        <img src="{{detailData.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: -7px">
                    <ion-col style="padding-bottom: 0px;">
                        <img src="{{detailData.uploadedPhoto[2].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-left:0px;padding-bottom: 0px;">
                        <img src="{{detailData.uploadedPhoto[3].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-left:0px;padding-bottom: 0px;">
                        <img src="{{detailData.uploadedPhoto[4].t7}}" class="blur-image" onError="this.src = 'assets/images/imgErr.png'">
                        <div class="my-overlay">
                            <div class="positioner">
                                <ion-icon class="icscon" name="ios-add" style="font-weight:bold;font-size: 20px;"></ion-icon>
                                <span class="icscon1" style="font-size: 25px; right: -20px; margin-top: -10px">{{detailData.uploadedPhoto.length - 5}}</span>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <hr style=" display: block; margin: 10px 3px 0px 3px; border: none; background-color: lightgrey">

        <ion-row>
            <ion-col text-center style="padding: 0px; margin-left: -70px;">
                <button ion-button clear icon-right style="padding: 0px;" tappable [disabled]='detailData.likeflag' (click)="clickLike(detailData)">
          <ion-icon *ngIf="detailData.showLike" name="ios-thumbs-up" color="mwalletbtn"></ion-icon>
          <ion-icon *ngIf="!detailData.showLike" name="ios-thumbs-up" style="color: #bbb;"></ion-icon>
          <span *ngIf="detailData.showLike" style="text-transform: none; padding: 5px 0px 0px 5px;font-size: small; color:#434eb2;"class="{{showFont}}">{{textData[3]}}</span>
          <span *ngIf="!detailData.showLike" style="text-transform: none; color:#808080; padding: 5px 0px 0px 5px;font-size: small;"class="{{showFont}}">{{textData[3]}}</span>
        </button>
            </ion-col>

            <ion-col text-center style="padding: 0px; margin-right:-45px;">
                <button ion-button clear style="padding: 0px;">
          <ion-icon name="ios-text" style="color: #bbb; font-size: 23px;"></ion-icon>
          <span style="text-transform: none; color:#808080; padding: 3px 0px 0px 5px;font-size: small;" class="{{showFont}}">{{textData[4]}}</span>
        </button>
            </ion-col>

            <!--<ion-col text-center style="padding: 0px;">
        <button ion-button clear icon-left tappable (click)="share(detailData)" style="padding: 0px;">
          <ion-icon name="share-alt" style="color: #bbb"></ion-icon>
          <span style="text-transform: none; color: #808080;font-size: small;" class="{{showFont}}">{{textData[5]}}</span>
        </button>
      </ion-col>-->
        </ion-row>
    </ion-card>

    <!--<span style="margin-top: 10px;margin-left: 15px;" color="mwalletbtn" *ngIf="detailData.n2 > 0 ">
    <ion-icon name="ios-thumbs-up"></ion-icon>&nbsp;&nbsp;{{detailData.n2}}
  </span>-->

    <span style="margin-top: 10px;margin-left: 15px;color: #434eb2;" *ngIf="detailData.n2 > 0 " (click)="getLikePerson(detailData)"><ion-icon name="ios-thumbs-up" ></ion-icon>&nbsp;&nbsp;{{detailData.n2}}</span>

    <ion-list *ngIf="nores == 1">
        <ion-item *ngFor="let cmt of replyData;let j = index" no-lines (press)="presentCommentPopover($event,cmt)">

            <div style="float: left;">
                <img item-left src="{{profileImageLink}}/{{cmt.t10}}" style="width:45px;height: 45px;border-radius: 50%;object-fit: cover;" onError="this.src = 'assets/images/user-icon.png'">
            </div>
            <div style="float: left;width:80%;">
                <h4 style="font-weight: bold;margin-top: 15px;" class="{{showFont}}" *ngIf="cmt.userName">{{cmt.userName}}</h4>
                <h4 style="font-weight: bold;margin-top: 15px;" class="{{showFont}}" *ngIf="cmt.userName==''">MIT User</h4>
                <p text-wrap style="color: #000000;line-height: 16px;font-size:1.3rem;" class="{{showFont}}" *ngIf="!urlValidation(cmt.t2)" [innerHTML]="cmt.t2"></p>
                <a href="{{cmt.t2}}" *ngIf="urlValidation(cmt.t2)" class="{{showFont}}" [innerHTML]="cmt.t2"></a>

                <p style="font-size:1.2rem;">
                    <span *ngIf="cmt.differenceTime == ' W'" style="color: #b1a7a7;">{{ cmt.modifiedDate}} </span>
                    <span *ngIf="cmt.differenceTime != ' W'" style="color: #b1a7a7;">{{cmt.differenceTime}}</span>&nbsp;
                    <span style="font-size:17px;color: #b1a7a7;line-height:10px;">.</span>&nbsp;
                    <span tappable (click)="changeLike(cmt.syskey,j)" color="mwalletbtn">{{cmt.like}}</span>
                    <span *ngIf="cmt.likeCount > 0" tappable (click)="likePerson(cmt)" color="mwalletbtn">&nbsp;
          <span style="font-size:17px;line-height: 10px;" color="mwalletbtn">.</span>&nbsp;
                    <ion-icon name="ios-thumbs-up" *ngIf="cmt.likeCount > 0"></ion-icon>&nbsp;&nbsp;{{cmt.likeCount}}</span>&nbsp;
                    <!--<span style="font-size:17px;line-height: 10px;" color="mwalletbtn">.</span>&nbsp;
          <span tappable (click)="ClickReply(cmt.syskey)" color="mwalletbtn">Reply</span>-->
                </p>

                <!--<p *ngIf="cmt.replyCount > 0" style="font-weight: bold;" tappable (click)="ClickReply(cmt.syskey)">View more {{cmt.replyCount}}&nbsp;
          {{cmt.textreply}} </p>
        <div tappable (click)="ClickReply(cmt.syskey)" *ngIf="cmt.replyComment.length > 0">
          <div style="float:left;padding-right: 3px;">
            <img src="{{photoLink}}/{{cmt.replyComment[0].person[0].t16}}" style="width:30px;height: 30px;border-radius: 50%;object-fit: cover;"
              onError="this.src = 'assets/images/user-icon.png'">
          </div>
          <div style="float:left;width: 80%;margin-top: 5px;">
            <p>
              <span style="font-size:1.3rem;font-weight: bold;color: #000000;" class="{{showFont}}" *ngIf="cmt.replyComment[0].person[0].t2">{{cmt.replyComment[0].person[0].t2}}</span>
              <span style="font-size:1.3rem;font-weight: bold;color: #000000;" class="{{showFont}}" *ngIf="cmt.replyComment[0].person[0].t2==''">MITUser</span>&nbsp;
              <span class="{{showFont}}" style="color: #000000;font-size:1.2rem;">{{cmt.replyComment[0].t2}}</span>
            </p>
          </div>
        </div>-->
            </div>
        </ion-item>
    </ion-list>
    <div *ngIf="status">
        <ion-row>
            <ion-col col-3>
                <div style="color:#808080;" align="right">Sending</div>
            </ion-col>
            <ion-col>
                <ion-spinner name="dots"></ion-spinner>
            </ion-col>
        </ion-row>
    </div>

    <div *ngIf="nores == 0" align="center">
        <h3 style="padding:50px;color:#ccc;font-size:1.6rem;">
            <span class="{{showFont}}">{{textData[1]}}</span>
        </h3>
    </div>
</ion-content>

<ion-footer no-border>
    <ion-grid class="input-wrap">
        <ion-row>
            <ion-col col-10>
                <ion-textarea class="uni" autocomplete="true" spellcheck="true" placeholder="{{textData[2]}}" [(ngModel)]="comment" (focus)="onFocus()">
                </ion-textarea>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear icon-only item-right tappable (click)="saveComment()">
          <ion-icon name="ios-send" ios="ios-send" md="md-send" style="color:#434eb2;"></ion-icon>
        </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>