page-comment {
  /*$userBackgroundColor: #75a3a3;
  $toUserBackgroundColor: #81c784;

  ion-content .scroll-content {
    background-color: #f5f5f5;
  }*/

  .resizegrid {
    height: 140px;
    width: 100%;
    max-width: 100%;
    max-height: 140px;
    display: inline-block;
    margin-right: auto;
    object-fit: cover;
    // margin-top: 10px;
  }
  
  .blur-image { 
    height: 140px;
    width: 100%;
    max-width: 100%;
    max-height: 140px;
    display: inline-block;
    margin-right: auto;
    object-fit: cover;
    
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

  .positioner {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .icscon {
    position: absolute;
    right: -20px;
    bottom: -20px;
    color: #fff;
    width: 32px;
    height: 32px;
  }

  .icscon1 {
    position: absolute;
    //right: -38px;
    left: 65px;
    bottom: -12.5px;
    width: 32px;
    height: 32px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }

  // .icscon {
  //   position: absolute;
  //   right: -20px;
  //   bottom: 22px;
  //   color: #fff;
  //   width: 32px;
  //   height: 32px;
  // }

  // .icscon1 {
  //   position: absolute;
  //   //right: -60px;
  //   left: 65px;
  //   bottom: 30px;
  //   width: 32px;
  //   height: 32px;
  //   color: #fff;
  //   font-size: 30px;
  //   font-weight: bold;
  // }

  .resize {
    height: 200px;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    display: inline-block;
    margin-right: auto;
    object-fit: cover;
    // margin-top: 10px;
  }
  .video-container {
    position: relative;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 5px;
  }
  .play, .pause{
    background:rgba(0,0,0,0.7);
    border:0px;
    color:#fff;
    border-radius: 100%;
    height:40px;
    width:40px;
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    //height: 255px;
  }

  .line-breaker {
    white-space: pre-line;
    width: 120px;
  }

  .input-wrap {
    padding: 0 5px;
    ion-textarea {
      position: static;

    }
    ion-col.col {
      padding: 0;
    }
    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }
    textarea {
      border-bottom: 1px #f6863f;
      border-style: solid;
    }
  }
  .list-md {
    margin: -1px 0 10px 0;
  }
  .label-md {
    margin: 8px 8px 0px 0;
  }
  .label-ios{
    margin: 0px 0px 0px 0;
  }

  .commentContent{
    .card-md {
      //border-bottom: 1px lightgray solid;
      border-radius: 2px;
      font-size: 1.4rem;
      background: #fff;
      -webkit-box-shadow: 0;
      box-shadow: 0 !important;
    }
  }

  .card-content-md {
    padding: 5px 16px;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .card-md p {
    margin: 4px 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
  }
}
