<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="uni" id="custom_ion_title">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="vertical-align-content">
  <div ion-fixed *ngIf="isLoading ==0">
    <ion-spinner name="circles"></ion-spinner>
  </div>
  <ion-list *ngIf="flag==1">
    <div *ngIf="languageData=='eng'">
      <ion-grid *ngFor="let data of faqData;let i = index;" (click)="changeIcon(i)">
        <ion-row>
          <ion-col col-1 style="padding-left: 0px;" class="uni">
            {{i+1}}.
          </ion-col>
          <ion-col col-10 text-wrap class="uni">
            {{data.questionEng}}
          </ion-col>
          <ion-col col-1 align-self-center>
            <ion-icon [name]="data.selected ? 'ios-arrow-up-outline' : 'ios-arrow-down-outline'"
              [color]="data.selected ? 'gray' : 'mwallet'"></ion-icon>
          </ion-col>
        </ion-row>
        <div [hidden]="data.selected" text-wrap class="uni">
          <ion-row style="line-height: 25px;color: #7a7a7a;">
            {{data.answerEng}}
          </ion-row>
          <br>
          <hr>
        </div>
      </ion-grid>
    </div>

    <div *ngIf="languageData=='myan'">
      <ion-grid *ngFor="let data of faqData;let i = index;" (click)="changeIcon(i)">
        <ion-row>
          <ion-col col-1 style="padding-left: 0px;" class="uni">
            {{i+1}}.
          </ion-col>
          <ion-col col-10 text-wrap class="uni">
            {{data.questionUni}}
          </ion-col>
          <ion-col col-1 align-self-center>
            <ion-icon [name]="data.selected ? 'ios-arrow-up-outline' : 'ios-arrow-down-outline'"
              [color]="data.selected ? 'gray' : 'mwallet'"></ion-icon>
          </ion-col>
        </ion-row>
        <div [hidden]="data.selected" text-wrap class="uni">
          <ion-row style="line-height: 25px;color: #7a7a7a;">
            {{data.answerUni}}
          </ion-row>
          <br>
          <hr>
        </div>
      </ion-grid>
    </div>
  </ion-list>
</ion-content>