page-utility-confirm {

    .toolbar-md-mwalletbtn .toolbar-title-md {
        color: #222;
    }
    .toolbar-md-mwalletbtn .bar-button-default-md, .toolbar-md-mwalletbtn .bar-button-outline-md, .toolbar-md-mwalletbtn .toolbar-title-md {
        color: #222;
    }

}
