<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">View Image</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center class="vertical-align-content">
  <img src="{{image}}" alt="" style="width: 100%; height: auto;" tappable (click)="saveGallery(image)">

  <div class="my-overlay" *ngIf="this.contentImg == ''">
    <p text-center>Sent on {{senddate}} at {{sendtime}} </p>
  </div>
</ion-content>
