<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>  
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-row style="padding-left: 15px; padding-right: 15px;">
      <ion-col>
        <div align="center" style="padding-top: 2px;">
          <img src="assets/top-up.png">
        </div>
        <ion-list>
          <ion-item style="border-bottom: 1px solid gray !important;">
            <ion-label floating>
              <span class="uni">{{textData[1]}}</span>
            </ion-label>
            <!-- <ion-input type="text" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off [(ngModel)]="amount"></ion-input> -->
            <ion-input type="number" pattern="[0-9]*" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off [(ngModel)]="amount"></ion-input>
            <!-- <ion-input type="number" (ionChange)="keyUpChecker($event.target.value)"
            onCopy="return false" onPaste="return true" 
            onDrag="return false" onDrop="return false" 
            autocomplete=off [(ngModel)]="amount"></ion-input> -->
          </ion-item>
          <div *ngIf="errormsg1!=''" style="color: red;">{{errormsg1}}</div>
          <!-- <hr> -->
          <ion-item style="border-bottom: 1px solid gray !important;">
            <ion-label floating>
              <span class="uni">{{textData[3]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="reference"></ion-input>
          </ion-item>
          <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
            <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="topup()">{{textData[2] }}</button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
