<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>  
    <ion-title id="custom_ion_title" class="uni">{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-row>
    <ion-col>
      <ion-searchbar (ionInput)="searchKeyword($event)"></ion-searchbar>
    </ion-col>
  </ion-row> -->
  <ion-row style="padding-left: 10px; padding-right: 10px; padding-top: 5px;">
    <ion-col col-10>
      <ion-input type="text" [(ngModel)]="keyword" style="border: 1px solid #eee; border-radius:  10px;"></ion-input>
    </ion-col>
    <ion-col col-2>
      <button ion-button icon-end (click)="getKeyword()"  style="border-radius: 10px !important;
        margin: 0 !important;
        width: 100% !important;
        height: 100% !important;">
        <ion-icon name="search" style="padding-left: 0px !important;"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="nores == '1'" class="uni" style="padding-right: 10px; padding-left: 10px;">
    <ion-col>
      <ion-list style="margin-bottom: 5px;">
        <ion-item *ngFor="let p of pdfList" tappable (click)="openPDF(p)" style="padding: 5px 10px 5px 10px;">
          <ion-avatar item-left style="padding: 4px 2px;">
            <img src="assets/pdf.png">
          </ion-avatar>

          <p style="padding-left: 5px;">{{p.name}}</p>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="nores == '0'" class="uni">
    <ion-col>
      <div align="center">
        <h3 style="padding: 50px; color: #ccc;">
          <span>{{textData[1]}}</span>
        </h3>
      </div>
    </ion-col>
  </ion-row>
</ion-content>